@use '../../../styles/variables.scss' as *;


.hero{
  
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height:90dvh ;

}

.hero-text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $mid-dark-blue;
  padding: 0  2.5rem 0 0 ;
  text-align: right;
  // width:33.3%;

  h1{
    font-size: clamp(1rem, 1.5rem + 2vw ,4.5rem);
    line-height: 0.8;
    font-weight: bold;
    margin-bottom: $space-sm;

  }


  p {
    
    font-size: $font-size-md;
    margin-bottom: $space-xxxl;
    margin-top: $space-xxxl;

  }



}


.background-image-wrap {
  
  // width: 66.6%;
  background: $bright-yellow;
  background-image: linear-gradient(90deg, $bright-yellow 0%, rgba(255, 255, 255, 1) 70%);
  

}


.background-image {
  
  background-image: url('../../../../public/assets/images/hero/hero_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 77%;
  height: 100%;
  width: 100%;


}

.hero-image{
  width: 100%;
  height: 100%;
}

.hero-image img {
  width: 66%;
  height: 100%;
  left: 0;
  display: none;
  object-fit: cover;

}


.cta-btn{

  display: inline-block;
  width: 10rem;
  border-radius: 9999px;
  text-align: center;
  font-size: $font-size-md;
  font-weight: bold;
  padding: calc($space-sm / 4) $space-sm;
  text-decoration: none;
  color: $mid-dark-blue;
  background-color: $light-blue;

  &:hover{

    color: $light-blue;
    background-color: $mid-dark-blue;
    
  }
}


 @media only screen and (max-width: 800px) {

  // .hero{
  //   flex-direction: column;
  //   min-height: 100dvh;
  // }

  .hero {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
      "text"
      "image";
    height: calc(100dvh - 100px);



  }


  .cta-btn{
    display: none;
  }

  .hero-text{

    padding: 1rem;
    grid-area: text;
    width: 100%;
    justify-content: start;


    h1{
      
      font-size: clamp(1.5rem, 1.5rem + 2vw ,2rem);
      line-height: 0.8;
      font-weight: bold;
      margin-bottom: 1.2rem;

    }


    p {
      
      font-size: clamp(1rem, 1rem + 2vw ,2rem);
      margin-bottom: 0px;
      margin-top: 0px;

    }


    
  }

  .background-image-wrap{
    width: 100%;
    // height: 66.7%;
    grid-area: image;

  }

  .background-image {
    background-position: 100%;
    height: 100%;
    width: 100%;
  }

  .hero-image {
    height: 100%;
    width: 100%;
  }

}
