@use 'styles/variables.scss' as *;


.title{

    padding-block-start: 45px;
    font-size: 3rem;
    font-weight: bold;

}

.subheader{

    font-size: 2rem;
    padding-block-end: 40px;
    max-width: 70ch;

}

.split-section{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .column-left{
        padding-inline-start: 62px;
    }
    .column{

        svg{
            width: 100%;
            height: 100%;
        }
        svg * {
            vector-effect: non-scaling-stroke;
        }
    }
}

.h3-title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}
.location-card-text{
    font-size: 1.5rem;

}
.bold {
    font-weight: bolder;
}

.dot-list {
    list-style-type: disc !important;
    color: currentColor;

    li {
        list-style-type: disc !important;
    }

}

.map-wraper{
    
    font-size: 3rem;
    width: 100%;
    height: 400px;
    margin-top: 40px;
    background-color: $bright-yellow; 
    border-radius: 100px;
    overflow: hidden;
}


.form-group{

    font-size: 2rem;
    padding-block: 5px;

    .label-wrap{

        width: 100%;

        .label{
            display: inline-block;
            width: 8ch;
        }

        .input{
            width: min(100%, 300px);
            background-color: $light-blue;
            height: 40px;
            border-radius: 999px;
            // padding-inline: 2rem ;
            padding-block: 0.5rem;

        }

    }
    
    .text-area-wrap{
        
        display: flex;
        flex-direction: row;

        .label{
            display: inline-block;
            width: 8ch;
        }

        .text-area{

            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;

            background-color: $light-blue;
            resize: none;
            
            width: 90%;
            min-height: 200px;
            
            border-radius: 45px;
            padding-inline: 45px;
            padding-block-end: 100px;

        }

    }

    .error-wrap{
        padding-top: 5px; 
        min-height: calc(2.5rem + 10px);
        width: 100%;
    }

}


.is-invalid{

    border-color: #e74c3c;

}

.error small {
    
    color: #e74c3c;
    display: block;

}



.submit{
    margin-top: 45px;
    background-color: $light-blue;
    color: $mid-dark-blue;
    border-radius: 9999px;
    margin-inline: auto;
    font-size: 3rem;
    padding-inline: 45px;
    padding-block: 5px;
    display: block;
    transition: all 0.2s ease-in-out;
    &:hover{
    
        background-color: $mid-dark-blue;
        color: $light-blue;

    }
}


@media screen and ( max-width: 1100px ) {


    .title-introduction{
        font-size: 1.5rem;
    }

}

@media screen and ( max-width: 720px ) {

    .split-section{

        display: grid;
        grid-template-columns: 1fr;
        .column-left{
            padding-inline-start: 0;
        }
    }




    .form-group{

        
        .text-area-wrap{

            flex-direction: column;

            .label{

            }

            .text-area{

                width: 100%;
                padding-block-end: 100px;

            }

        }


    }






}