
<main class="main">

  <div class="inner-padding">
    <section class="big-card">
      <h1 class="h2-title"> צור קשר </h1>
      
    </section>


    <section class="big-card">
      <h2 class="h2-title"> הגעה למרפאה </h2>
      <h3 class="h3-title">כתובת</h3>
      <p class="location-card-text">
        כתובת הדובדבן 9,ב'ת, קריית אונו
      </p>
      <h3 class="h3-title" > נגישות המרפאה:</h3>
      <p class="location-card-text">
      הגעה ברכב פרטי: קיימת חניה בסמוך לבניין בתשלום, על בסיס מקום פנוי 
      </p>

      <h3 class="h3-title" >הגעה בתחבורה ציבורית</h3>
      <p class="location-card-text">
      תחנות אוטובוס קרובות למרפאה: ספורטק/ דרך לוי אשכול ומשם הליכה של כ 10 דק' 
      </p>

      <div class="split-section">
        <div class="column">
          <h3 class="h3-title" >ניווט בתוך הביניין</h3>
          <img class="map-image" src="" alt="תמונה של מפה המתארת דרך הגאה למרפאה בתוך הבניין">
        </div>
        <div class="column">
          <h3 class="h3-title">
            נגישות
          </h3>
          <ul class="dash-list location-card-text">
            <li>חניות נגישות בסמוך לבניין</li>
            <li>מבנה מונגש לכיסאות גלגלים</li>
            <li>מעלית נגשיה לעיוורים</li>
            <li>שירותים נגישים בקומה</li>
            <li>רופאי המרפאה דוברים: עברית אנגלית צרפתית ואיטלקית </li>
          </ul>
          <div class="map-wraper">
            <iframe
              width="100%"
              height="100%"
              style="border:0"
              loading="lazy"
              allowfullscreen
              referrerpolicy="no-referrer-when-downgrade"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCjKomIbwqVaw5tyOW7r5FUc8Ks3QIorZE
                &q=place_id:ChIJBcD72gg1HRURSEJHI0WfsoA">
            </iframe>
          </div>
          
        </div>
      </div>
      
    </section>

    

  </div>
</main>









