<main>
  <div class="hero">
    <h1>איך להגיע למרפאה</h1>
  </div>

  <!-- Address and Navigation Info -->
  <section class="content">
    <h2>כתובת המרפאה</h2>
    <p>רחוב הדובדבן 9, קריית אונו, קומה  </p>

    <h3>הגעה ברכב פרטי</h3>
    <p>מידע למגיעים ברכב האם יש חניה באזור וכו </p>

    <h3>הגעה בתחבורה ציבורית</h3>
    <p>הסבר לאנשים שרוצים להגיע בתחבורה ציבורית כמו איזה קווים עוצרים באזור </p>

    <h3>ניווט בתוך הבניין</h3>
    <p>הסבר לאיך מגיאים למרפאה בבינין + תמונה</p>
  </section>

  <section class="content">
    <h2> דוגמה לנגישות</h2>
    <ul>
      <li>✔ חניה נגישה בסמוך לכניסה</li>
      <li>✔ מעלית עם סימון ברייל וקול</li>
      <li>✔ גישה לכסאות גלגלים עד דלת המרפאה</li>
      <li>✔ שירותים נגישים בקומה</li>
    </ul>
  </section>

  <section class="content">
    <h2>שעות פעילות</h2>
    <ul>
      <li>ראשון–חמישי: 00:00–00:00</li>
      <li>שישי: 00:00–00:00</li>
      <li>שבת: סגור</li>
    </ul>


  </section>

  <section class="map-wrap" >
    <iframe
      width="100%"
      height="100%"
      style="border:0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCjKomIbwqVaw5tyOW7r5FUc8Ks3QIorZE
        &q=place_id:ChIJBcD72gg1HRURSEJHI0WfsoA">
    </iframe>
    
  </section>

</main>
