
<section class="cards-section">
    <div class="cards-container-warp">
    <h2>רפואה תעסוקתית</h2>

            
        <ul class="cards-container" >
            <li class="card">

                
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="כושר עבודה"
                description="הערכת כושר העבודה נעשית על ידי רופא תעסוקתי מוסמך, במטרה לקבוע את התאמת העובד לסביבת עבודתו הנוכחית או העתידית. ההערכה כוללת בדיקות קליניות והתייחסות למצב הרפואי הכללי של המטופל." 
                anchorId="work" ></app-card>
            </li>
            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="ייעוץ לגופים גדולים"
                description="אנו מספקים שירותי ייעוץ מקצועיים למפעלים, רשויות וגופים ציבוריים במגוון תחומים רפואיים ותעסוקתיים. השירות כולל הכנת נהלים, סקירות סיכונים בריאותיים, ותמיכה בבניית מדיניות בריאות במקום העבודה." 
                anchorId="advice" ></app-card>
            </li>
 

            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="קביעת קשר סיבתי"
                description="קביעת קשר סיבתי בין מצב רפואי לבין גורם סיכון במקום העבודה יכול לאפשר לאדם לקבל הכרה בגורם למצבו הרפואי ולאפשר למצות את זכויותיו הרפואיות." 
                anchorId="advice" ></app-card>
            </li>

            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="מיצוי זכויות רפואיות"
                description="הצוות שלנו מסייע למטופלים להבין את זכויותיהם הרפואיות ולמצותן מול ביטוח לאומי, קופות חולים, וחברות הביטוח. השירות כולל ליווי בהכנת מסמכים רפואיים וייעוץ בהגשת תביעות." 
                anchorId="rights" ></app-card>
            </li>
            
        </ul>

    </div>

</section>
