
<section class="occupational-medicine">
    
    <h2>occupational-medicine</h2>
    
    <ul class="cards-container" >
        <li>
            <app-card   
            imageUrl="/assets/images/placeholder.jpg"
            title="כושר עבודה"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vel quam fuga nobis enim quidem minus. Commodi et rerum in." 
            anchorId="work" ></app-card>
        </li>
        <li>
            <app-card   
            imageUrl="/assets/images/placeholder.jpg"
            title="ייעוץ לגופי תעשייה ולשירותים ממשלתיים"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vel quam fuga nobis enim quidem minus. Commodi et rerum in." 
            anchorId="advice" ></app-card>
        </li>
        <li>
            <app-card   
            imageUrl="/assets/images/placeholder.jpg"
            title="מיצוי זכויות רפואיות"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vel quam fuga nobis enim quidem minus. Commodi et rerum in." 
            anchorId="rights" ></app-card>
        </li>
        
    </ul>

</section>
