
<main >
    <div class="hero">
        <h1 >
            קביעת קשר סיבתי
        </h1>

    </div>
    <div class="container">
        <p>
    קביעת קשר סיבתי בין מצב שנגרם או שהוחמר כתוצאה מחשיפה לגורם סיכון בעבודתו של אדם היא אמנות שנסמכת על הבנת העיסוק, הבנת סוגי החשיפות והסיכונים המקצועיים והיכולת לקשור בינהם על בסיס נתונים סטטיסטיים וידע אפידמיולוגי וספרות רפואית. 
    קביעת קשר סיבתי בין מצב רפואי לבין גורם סיכון במקום העבודה יכול לאפשר לאדם לקבל הכרה בגורם למצבו הרפואי ולאפשר לו ולמשפחתו למצות את זכויותיו הרפואיות. 
    אופן קביעת הקשר הסיבתי היא מחד הכרות עם מצב התחלואה והגורמים לו ומנגד הכרות עם סוג העיסוקֿ, אופן ומיקום ביצועו, מטלות העבודה, החשיפות ושלל הסיכונים להם נחשף העובד אם בתחום הסיכונים הכימיים, הפיזיקליים והביולוגיים ואם בתחום גורמי חשיפה נפשית, ארגונומית. ניתוח הפרמטרים העיסוקים וקביעת היכולת שלהם לגרום לסוג התחלואה החשוד. הקשר בין זה לזה מבוסס על ידע מקצועי, ספרות רפואית שמבוססת על ספרים ועל מאמרים וניתוח אפידמיולוגי וסטטיסטי של המידע במטרה לקבוע קיום קשר בין סוג החשיפה לבין המצב הרפואי הנדון. 
    
    
        </p>

    </div>
</main>
