<nav>
    
    <button
    class="hamburger"  
    aria-label="toggle menu"
    (click)="toggleMenu()"  >

        <img src="/assets/images/hamburger.svg"
         alt=""
         class="hamburger-image"  />
    
    </button>

    <div class="logo">
        <a 
            routerLink="/" 
            (click)="closeMenus()"
            aria-label="Go to home page" >
            <img src="/assets/logo.svg" alt="">
        </a>
    </div>

    <ul
        class="menu-list"
        [class.open]="isMainMenuOpen" 
        [attr.aria-hidden]="!(isMainMenuOpen)"
    >

        <li class="menu-item">
                <a 
                routerLink="/about"
                routerLinkActive="active"
                (click)="closeMenus()" >עלינו</a>
        </li>

        <li class="menu-item dropdown-menu-item">
            
            <button
             class="submenu-btn"
              (click)="toggleSubMenuOpen()" >
                שירותי רפואה
            </button>
              

            <ul class="submenu"
            [class.open] = "isSubMenuOpen">

                <li class="menu-item" >
                    <a 
                    routerLink="/services/work-ability"
                    (click)="closeMenus()"
                    >
                        כושר עבודה
                    </a>
                </li>
                <li class="menu-item" >
                    <a 
                    routerLink="/services/industry-consulting"
                    (click)="closeMenus()"
                    >
                        ייעוץ לגופים גדולים
                    </a>
                </li>
                <li class="menu-item" >
                    <a 
                    routerLink="/services/causal-link-assessment"
                    (click)="closeMenus()"
                    >קביעת קשר סיבתי</a>
                </li>
                <li class="menu-item" >
                    <a 
                    routerLink="/services/medical-rights"
                    (click)="closeMenus()"
                    >מיצוי זכויות רפואיות</a>
                </li>
                <li class="menu-item" >
                    <a 
                    routerLink="/services/military-medicine"
                    (click)="closeMenus()"
                    >רפואה צבאית</a>
                </li>
                <li class="menu-item" >
                    <a 
                    routerLink="/services/medical-administration"
                    (click)="closeMenus()"
                    >מנהל רפואי</a>
                </li>
                <li class="menu-item" >
                    <a 
                    routerLink="/services/diving-medicine"
                    (click)="closeMenus()"
                    >רפואת צלילה</a>
                </li>
                <li class="menu-item" >
                    <a 
                    routerLink="/services/aviation-medicine"
                    (click)="closeMenus()"
                    >רפואה תעופתית</a>
                </li>
            </ul>

            
        </li>

        <li class="menu-item">
            <a 
            routerLink="/location"
            routerLinkActive="active"
            (click)="closeMenus()" 
            >המרפאה</a>
        </li>

    </ul>

    <div class="left-spacer"></div>

</nav>


