@use '../../../../styles/variables.scss' as *;

nav {

  container-type: inline-size; 
  container-name: ulContainer;

  width: 100%;
  background-color: $bg-white;
  // border-bottom: $border-s solid $light-blue;// used to be color // $bg-secondary: #E5E7EB;

  padding: $space-xxs $space-sm;
  direction: rtl; 
  
  position:fixed;
  z-index: 999;


  a {

    display: block;
    text-decoration: none;
    color: $mid-dark-blue;
    font-size: $font-size-md;
    padding: 2px $space-sm;
    border-radius: 15px;
    border: 2px solid transparent; // reserve space!
    transition: border-color 0.2s ease, color 0.2s ease;

    // Minimum touch size for AAA
    min-height: 24px;
    min-width: 44px;

    &:hover {

      border-color: $mid-dark-blue;
      color: $mid-light-blue;

    }

    &:focus-visible {
      outline: 2px solid $dark-yellow;
      outline-offset: 2px;
      border-color: $mid-dark-blue;
      background-color: $dark-yellow;
    }


  }
  a.active {
    font-weight: bold;
    color: $mid-light-blue; 
  
  }
  

.logo {

  a {
    padding: 0;
    display: block;
    height: 100%;

  }

  display: flex;
  align-items: center;
  height: 4rem;
  min-width: 3rem; 

}

img {
  display: block;
  width: auto;
  height: 100%;

}


  .spacer {
    flex-grow: 1;
    // aria-hidden: true;
  }

}

ul {

    
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  list-style: none;
  gap: $space-lg;

}

.hamburger{

  background-color: red;
  height: 100%;
  button{

    min-width: 44px;
    min-height: 24px;
    display: block;
  }
}



@container ulContainer (width >= 1000px) {

  .hamburger{
    display: none;
  }

  .navItem{
    display: flex;
    align-items: center;
  }

  .spacer{
    display:block;
  }

}

@container ulContainer (width < 1000px) {

  ul{
    
    align-items: center;
    justify-content: space-between;

  }

  .hamburger{
    display: flex;
    align-items: center;
  }
  .logo{
    min-height: 2rem;
  }

  .navItem{
    display: none;
  }

  .spacer{
    display: none;
  }

}