@use '../../../../styles/variables.scss' as *;

nav {
  
  width: 100%;
  background-color: $bg-white;
  border-bottom: $border-s solid $bg-secondary;
  padding: $space-xxs $space-sm;
  direction: rtl; 
  position:fixed;
  z-index: 999;


  a {

    display: inline-block;
    text-decoration: none;
    color: $mid-dark-blue;
    font-size: $font-size-md;
    padding: 2px $space-sm;
    border-radius: 15px;
    border: 2px solid transparent; // reserve space!
    transition: border-color 0.2s ease, color 0.2s ease;

    // Minimum touch size for AAA
    min-height: 24px;
    min-width: 44px;

    &:focus-visible {
      outline: 2px solid $focus-bg;
      outline-offset: 2px;
      border-color: $text;
      background-color: $focus-bg;
    }

    &:hover {

      border-color: $mid-dark-blue;
      color: $mid-light-blue;

    }

  }
  a.active {
    font-weight: bold;
    color: $primary; // maybe change to an accent color
  }
  

  .logo {
    font-weight: bold;
    font-size: $font-size-md;
    color: $primary;
    height: 4rem; 
  }

  .logo-image{
    height: 100%;
    max-height: 100%;
    width: auto;      
    display: block;
  }


  .spacer {
    flex-grow: 1;
    // aria-hidden: true;
  }
}

ul {

  container-type: inline-size; 
  container-name: cardContainerWrap;
    
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  list-style: none;
  gap: $space-lg;

}





.switch-button {
  width: 400px;
  height: 40px;
  text-align: center;
  /* z-index: 197 !important; */
  cursor: pointer;
  transition: 0.3s ease all;
  border: 1px solid white;
  position: relative;
}

.switch-button .switch-button-case {
  display: inline-block;
  // background: none;
  width: 49%;
  height: 100%;
  color: white;
  // position: relative;
  border: none;
  transition: 0.3s ease all;
  // z-index: 2000;
}


.switch-button .active {
  color: #151515;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  transition: 0.3s ease-out all;
  border-radius: 0; /* Optional: adjust for pill shape */
}

.switch-button .active-case {
  color: #151515;
}






@container cardContainerWrap (width >= 1000px) {

  .hamburger{
    display: none;
  }

  .navItem{
    display: flex;
    align-items: center;
  }


}

@container cardContainerWrap (width < 1000px) {

  .hamburger{
    display: flex;
    align-items: center;
  }

  .navItem{
    display: none;
  }

}