<nav>

    <ul>
        <li>
            <a routerLink="/" class="logo">
                ברק מדיקל
            </a>
        </li>
        <span class="spacer"></span>
        <li><a routerLink="/"
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }" 
            i18n >דף הבית</a></li>
        <li>
            <a routerLink="/about"
             routerLinkActive="active"
             i18n >אודות</a>
        </li>
        <li>
            <a routerLink="/treatments"
             routerLinkActive="active"
             i18n >סוגי רפואה</a>
        </li>
        <li>
            <a routerLink="/location" routerLinkActive="active"
            i18n >איך מגיעים</a>
        </li>
        <li>
            <a i18n href="http://localhost:4201/"
            i18n >אנגלית</a>
        </li>
    </ul>


</nav>





