@use '../../../../styles/variables.scss' as *;

nav {
  
  width: 100%;
  background-color: $bg-white;
  border-bottom: $border-s solid $bg-secondary;
  padding: $space-xxs $space-sm;
  direction: rtl; 
  position:fixed;
  z-index: 999;


  a {

    display: inline-block;
    text-decoration: none;
    color: $mid-dark-blue;
    font-size: $font-size-md;
    padding: 2px $space-sm;
    border-radius: 15px;
    border: 2px solid transparent; // reserve space!
    transition: border-color 0.2s ease, color 0.2s ease;

    // Minimum touch size for AAA
    min-height: 24px;
    min-width: 44px;

    &:focus-visible {
      outline: 2px solid $focus-bg;
      outline-offset: 2px;
      border-color: $text;
      background-color: $focus-bg;
    }

    &:hover {

      border-color: $mid-dark-blue;
      color: $mid-light-blue;

    }

  }
  a.active {
    font-weight: bold;
    color: $primary; // maybe change to an accent color
  }
  

  .logo {
    font-weight: bold;
    font-size: $font-size-md;
    color: $primary;
    height: 4rem; 
  }

  .logo-image{
    height: 100%;
    max-height: 100%;
    width: auto;      
    display: block;
  }


  .spacer {
    flex-grow: 1;
    // aria-hidden: true;
  }
}

.language-toggle {
  display: inline-block;
  background-color: $bg-hover-light;
  border-radius: 100%; // makes it fully rounded
  padding: 0.5rem 1rem;
  font-size: $font-size-sm;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: $text;
  border: 2px solid $mid-dark-blue;
  transition: background-color 0.2s ease, color 0.2s ease;

}


// TODO add skip link 
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  z-index: 1000;
  transition: top 0.3s ease;
  text-decoration: none;

  &:focus {
    top: 0;
  }
}


ul {

  container-type: inline-size; 
  container-name: cardContainerWrap;
    
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  list-style: none;
  gap: $space-lg;

}


@container cardContainerWrap (width >= 1000px) {

  .hamburger{
    display: none;
  }

  .navItem{
    display: flex;
    align-items: center;
  }


}

@container cardContainerWrap (width < 1000px) {

  .hamburger{
    display: flex;
    align-items: center;
  }

  .navItem{
    display: none;
  }

}