@use 'styles/variables.scss' as *;


.wrap-link{
  
  display: flex;
  flex-direction: column;

  border: 3px solid $light-blue;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  max-width: 310px;
  height: 100%;
  min-height: 430px;
  padding-top: 20px;
  padding-left: $space-sm;
  padding-right: $space-sm;

  overflow: hidden;

  transition: all 0.2s ease-in-out;

  background: $bg-white;
  box-shadow: 0 1px 2px rgba(13,71,161,.08);


  &:hover {
    box-shadow: 0 19px 38px rgba(13,71,161,.08), rgba(13,71,161,.22) 0px 15px 12px;
    transform: scale(1.05);
    cursor: pointer;

  }


  .card-image {

    width: 100%;
    border-radius: $radius-md;
    object-fit: cover;
    max-height: 180px;

  }

  .title-wrap{
    container: foo / inline-size;
  }

  .card-title {

    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: $mid-dark-blue;
    padding-bottom: 10px;
  }

  .card-text {

    text-align: center;
    font-size: $font-size-sm;
    color: $mid-dark-blue;
    margin-bottom: $space-sm;
  }

}

.a-btn {

    color: $mid-dark-blue;
    display: block;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: $light-blue;

    border-radius: 9999px;
    padding-block: 4px ;
    width: 100%;
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
    margin-top: auto;
    margin-bottom: 10px;
    &:hover {

      color: $light-blue;
      background-color: $mid-dark-blue;

    }

  }