<section>
    <div class="cards-container-warp">
        <div class="cards-container">
            <div class="card">
                <h2>Card 1</h2>
                <p>This content adapts to screen and container size.</p>
            </div>
            <div class="card">
                <h2>Card 2</h2>
                <p>This content adapts to screen and container size.</p>
            </div>
            <div class="card">
                <h2>Card 3</h2>
                <p>This content adapts to screen and container size.</p>
            </div>
        </div>
    </div>

</section>