section{
    width: 100%;
    height: 100vh;
}

.cards-container-warp{
    
    container-type: inline-size; // Enables container queries
    container-name: cardContainerWrap;
    
}

.cards-container {

    padding: 1rem;
    border: 1px solid lightgray;
    margin: 1rem auto;
    max-width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.card {
    background-color: white;
    padding: 1rem;
    font-size: 1rem;
    transition: all 0.3s ease;
    min-width: 300px;
}

// 📦 Container Query (based on parent container size)
@container cardContainerWrap ( width > 1700px) {
    .card {
        background-color: white;
        border: 2px solid #007acc;
        font-weight: bold;
    }
    .cards-container {
        flex-direction: row;
        background-color: purple;
    }


}

@container cardContainerWrap ( 1700px >= width > 1100px) {
  .card {
    background-color: red;
    border: 2px solid #007acc;
    font-weight: bold;
  }
  .cards-container {
    flex-direction: column;
    background-color: black;
    }

}

@container cardContainerWrap (width <= 1100px) {
  .card {
    background-color: yellow;
    border: 2px solid #007acc;
    font-weight: bold;
  }
}