<main class="about">
    <h1>מי אנחנו</h1>
    <section class="person">
        <div class="text-wrap">
            <h2>ד״ר יאיר ברק</h2>
            <p>קורסים
                כתיבת חוות דעת רפואית מטעם ההסתדרות הרפואית הישראלית
                רפואת צלילה המכון לרפואה ימית
                רפואה תעופתית וחקר תאונות אויר היחידה לרפואה אוירית.
                לימודי המשך ברפואה תעופתית.
                GCP
                
                פעילות מקצועית בתחום הרפואה התעסוקתית
                חבר ועד האיגוד לרפואה תעסוקתית  משנת
                מנהל מרפאה מוכרת להתמחות ברפואה תעסוקתית
                 בוחן בבחינת שלב ב׳ ברפואה תעסוקתית
                 כותב שאלות בבחינת שלב  א׳ ברפואה תעסוקתית.
                מרצה ומרכז קורס בלימודי המוסמך ברפואה תעסוקתית באוניברסיטת תל אביב.
                
                תפקידים
                רופא יועץ בסקטור הפרטי משנת 2020 ואילך
                דירקטור ובעלים משותף בחברת י. ד. ברק מדיקל בע״מ לשירותי ייעוץ רפואי משנת 2022 ואילך.
                 מנהל המרפאה התעסוקתית המחוזית מכבי שירותי בריאות מחוז מרכז משנת 2021 ואילך 
                מנהל המחלקה לנהלים וסטנדרטים באגף רפואה קהילתית בחטיבת הרפואה במשרד הבריאות 2020-2021
                פורש צה״ל בדרגת אלוף-משנה והמשך שירות מילואים במגוון רב של משימות   משנת 2020 ואילך.
                מפקד הקורס העל זרועי לפיקוד ומטה ״אפק״ במכללות הצבאיות 2017-2019
                מפקד מערך הרפואה בפיקוד הדרום 2015-2017
                ראש ענף רפואה תעסוקתית ומיון רפואי במפקדת קצין רפואה ראשי 2013-2015
                קצין רפואה אוגדה סדירה, עוצבת  ״ געש״  2011-2013
                קצין רפואה במגוון  תפקידים מקצועיים ומבצעיים  2000-2011
                
                </p>
        </div>
        <div class="image wrap">
            <img src="../../../public/assets/images/placeholder.jpg" alt="">
        </div>
    </section>
    <section class="person">
        <div class="text-wrap">
            <h2>ד״ר דריה לוי ברק</h2>
            <p>בוגרת תואר דוקטור לרפואה מטעם אוניברסיטת תל אביב, בוגרת תואר בריאות בתעסוקה מטעם אוניברסיטת תל אביב, בוגרת לימודי מנהל מערכות בריאות באוניברסיטת בר אילן, בוגרת שלב ב׳ ברפואה פנימית בהצטיינות, מומחית לרפואה פנימית ורופאה בכירה בבי״ח מאיר בין השנים 2008-2017. בוגרת שלב ב׳ ברפואה תעסוקתית בהצטיינות ומומחית לרפואה תעסוקתית משנת 2021. רופאה בכירה במרפאה התעסוקתית של שירותי בריאות כללית, מחוז תל אביב.
                מזכירת האיגוד לרפואה תעסוקתית, רכזת בחינות שלב א׳ ובוחנת בבחינות שלב ב׳ ברפואה תעסוקתית.
                מייעצת לגופים שונים בתחומי הרפואה התעסוקתית, לחברות ביטוח ולאנשים פרטיים וכותבת חוות דעת משפטיות וחוות דעת לקשר סיבתי. 
                </p>
        </div>
        <div class="image wrap">
            <img src="../../../public/assets/images/placeholder.jpg" alt="">
        </div>
    </section>
</main>
