<main >
    <div class="hero">
        <h1>כושר עבודה</h1>
    </div>
    <div class="container">
        <p>
            תחום הליבה של הרפואה התעסוקתית הוא קביעת כושר עבודה לאדם שסובל ממצב רפואי כלשהו. ההתמחות ברפואה תעסוקתית משלבת הכרת מצבים רפואיים שונים על בוריים ומקצועות וסוגי עיסוק שונים. הקביעה של כושר העבודה בין אם אדם כשיר לעיסוקו, אינו כשיר לעיסוקו או כשיר תחת מגבלות והתאמות היא ליבת העיסוק של הרפואה התעסוקתית. 
            היכולת לאפשר לאדם שסובל ממגבלה רפואית למצוא את דרכו להתמודד עם מצבו במטרה לשלבו מחדש בשוק העבודה היא מטרתה העליונה של הרפואה התעסוקתית במטרה להקטין את הנכות ולאפשר לכל אדם בגיל העבודה למצות את יכולתו התעסוקתית דבר שמשליך על תחומי חיים שונים בהם מצב נפשי, איכות חיים, יכולת כלכלית וכדומה. מנגדֿ כאשר אדם אינו מסוגל לעיסוקו מסיבה רפואית הרי שיש לסייע בידו למצות את זכויותיו. 
        </p>
    </div>
</main>
