@use 'styles/variables.scss' as *;

.cards-container-warp {
    
    container-type: inline-size;
    container-name: cardContainerWrap;
    
}

.cards-container {

  padding: 1rem;
  display: grid;
  margin: 1rem auto;
  gap: 1rem;
  max-width: 100%;
  justify-items: center;

}

.card{
  
  display: flex;
  justify-content: center;
  // border: 2px solid blue;

}

@container cardContainerWrap ( width > 1300px) {
  

  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // background-color: red;

  }


}

@container cardContainerWrap ( width  <= 1300px  ) {
  

  .cards-container {
    max-width: 800px;
    padding-inline: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // background-color: purple;

  }

}


@container cardContainerWrap ( width <= 700px   ) {
  .cards-container {
    max-width: 600px;
    grid-template-columns: 1fr;
    // background-color: blue;
  }

}