<main class="treatments">

    <div class="container">    
    <h1>שירותי רפואה</h1>
    <section class="treatments1" >
        <h2>שירותי רפואה תעסוקתית</h2>

       
    </section >


    
    <section class="treatments1" >
        <h2>שירותי רפואה נוספים</h2>

        <div class="treatment">
            <h3 id="miltary">
            </h3>
            <p>
                
            </p>
        </div>
        
        <div class="treatment">

            <h3 id="adminstrative" >

            </h3>
            <p>
            </p>
        </div>
        <div class="treatment">

            <h3 id="diving" >רפואת צלילה
            </h3>
            <p>
        </p>
    
        <h4>קישורים-</h4>
        <a href=""> אתר רשות הצלילה רפואה </a> <br/>
        <a href="">אתר ההתאחדות הישראלית לצלילה</a>
    </div>
    </section>
    </div>
</main>
