@use '../../styles/variables.scss' as *;

.treatment {
    margin-bottom: $space-xxl;
    padding: $space-sm;
    background-color: $primary-bg;
    border-radius: $radius-lg;
  }
  
  .treatment h3 {
    color: $text;
    margin-top: 0;
  }
  
  .treatments h1, .treatments h2 {
    text-align: center;
    margin-bottom: $space-xl;
  }
  