<section class="hero">

    <div class="hero-text">
      <h1 class="hero-title">ברק מדיקל מומחים ברפואה תעסוקתית</h1>
      <p class="hero-paragraph">
      צוות רופאים מומחים ומנוסים, המעניקים ליווי אישי וייעוץ רפואי מקצועי המותאם במדויק לכל פונה ולכל ארגון.
      
      </p>

      <button (click)="callUs()" class="cta-btn"> קבע תור</button>

    </div>
  
    <div class="background-image-wrap">
      <img class="hero-image"
      src="/assets/images/hero/hero_new.webp" alt="">

    </div>

</section>
  