@use 'styles/variables.scss' as *;


.hero{
  
  min-height:90dvh ;
  position: relative;

}

.hero-text {

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: transparent;
  // background-color: red;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $mid-dark-blue;
  text-align: right;
  padding-inline-start: 80px;
  
  .hero-title{
    font-size: clamp(1rem, 1.5rem + 2vw ,4.5rem);
    line-height: 0.8;
    font-weight: bold;
    margin-bottom: 1rem;

  }


  .hero-paragraph {
    
    font-size: $font-size-md;
    margin-bottom: $space-xxxl;
    margin-top: $space-xxxl;

  }



}


.background-image-wrap {

  position: absolute;
  left:  clamp(
    -30vw,
    calc(-30vw + ((100vw - 1400px)*0.6 ) ),
    0%);
  z-index: 1;
  height: 100%;

  background: $bright-yellow;
  background-image: linear-gradient(90deg, $bright-yellow 0%, rgba(255, 255, 255, 1) 70%);
  
  .hero-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .desktop-image{
    display: inline-block;
  }
  .mobile-image{
    display: none;
  }
}


.cta-btn{

  display: inline-block;
  width: 10rem;
  border-radius: 9999px;
  text-align: center;
  font-size: $font-size-md;
  font-weight: bold;
  padding: calc($space-sm / 4) $space-sm;
  text-decoration: none;
  color: $mid-dark-blue;
  background-color: $light-blue;

  &:hover{

    color: $light-blue;
    background-color: $mid-dark-blue;
    
  }
}

.laptop-btn{
  display: block;
}
.mobile-call-us-wrap{
  display: none;
  padding: 2rem;
  width: 100%;

  .mobile-btn{
    margin-inline: auto;
  }
}



@media only screen and (min-width: 1500px) {


.background-image-wrap {

  left:  clamp(
    -35vw,
    calc(-35vw + ((100vw - 1400px)*1.3 ) ),
    0%);

  }


}


@media only screen and (max-width: 1300px) {


.background-image-wrap {

  left:  clamp(
    -35vw,
    calc(-35vw + ((100vw - 1400px)*0.6 ) ),
    0%);

  }

}

@media only screen and (max-width: 1149px) {

  .hero {

    position: static;
    min-height: calc(100dvh - 100px);

  }


  .laptop-btn{
    display: none;
  }
  .mobile-call-us-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .hero-text{
    position: static;
    padding: 1rem;
    width: 100%;
    justify-content: start;


    .hero-title{
      
      font-size: clamp(1.5rem, 1.5rem + 2vw ,2rem);
      line-height: 0.8;
      font-weight: bold;
      margin-bottom: 1.2rem;

    }


    .hero-paragraph {
      
      font-size: clamp(1rem, 1rem + 2vw ,2rem);
      margin-bottom: 0px;
      margin-top: 0px;

    }
    
  }

  .background-image-wrap{

    all: unset;

    .hero-image {
      width: 100%;
    }
    .desktop-image{
      display: none;
    }
    .mobile-image{
      display: inline-block;
    }
  }

}



@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 4/3) {
  /*  devices that are close to square */

  .hero {

    position: static;
    min-height: calc(100dvh - 100px);

  }


  .laptop-btn{
    display: none;
  }
  .mobile-call-us-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .hero-text{
    position: static;
    width: 100%;
    justify-content: start;

  }

  .background-image-wrap{
    all: unset;
    .hero-image {
      width: 100%;
    }
    .desktop-image{
      
      display: none;
    }
    .mobile-image{
      display: inline-block;
    }
  }



}

