<section class="hero">

    <div class="hero-text">
      <h1 class="hero-title">המומחים של
        <br>
        ברק מדיקל</h1>
      <p class="hero-paragraph">
        מומחים ברפואה תעסוקתית ומגוון תחומים
נוספים, הפונה מלווה על ידי רופאי החברה
והייעוץ מותאם באופן אישי לכל מקרה.
      </p>

      <button (click)="callUs()" class="cta-btn"> קבע תור</button>

    </div>
  
    <div class="background-image-wrap">
      <img class="hero-image"
      src="/assets/images/hero/hero_new.webp" alt="">

    </div>

</section>
  