@use 'styles/variables.scss' as *;


.hero{
  
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height:90dvh ;

}

.hero-text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $mid-dark-blue;
  text-align: right;
  padding-inline-start: 80px;
  
  .hero-title{
    font-size: clamp(1rem, 1.5rem + 2vw ,4.5rem);
    line-height: 0.8;
    font-weight: bold;
    margin-bottom: $space-sm;

  }


  .hero-paragraph {
    
    font-size: $font-size-md;
    margin-bottom: $space-xxxl;
    margin-top: $space-xxxl;

  }



}


.background-image-wrap {
  
  background: $bright-yellow;
  height: 100%;
  background-image: linear-gradient(90deg, $bright-yellow 0%, rgba(255, 255, 255, 1) 70%);
  .hero-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}





.cta-btn{

  display: inline-block;
  width: 10rem;
  border-radius: 9999px;
  text-align: center;
  font-size: $font-size-md;
  font-weight: bold;
  padding: calc($space-sm / 4) $space-sm;
  text-decoration: none;
  color: $mid-dark-blue;
  background-color: $light-blue;

  &:hover{

    color: $light-blue;
    background-color: $mid-dark-blue;
    
  }
}
// TODO add a @media for background image or change background 
// to an img tag

 @media only screen and (max-width: 800px) {


  .hero {
    
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
      "text"
      "image";
    height: calc(100dvh - 100px);



  }


  .cta-btn{
    display: none;
  }

  .hero-text{

    padding: 1rem;
    grid-area: text;
    width: 100%;
    justify-content: start;


    .hero-title{
      
      font-size: clamp(1.5rem, 1.5rem + 2vw ,2rem);
      line-height: 0.8;
      font-weight: bold;
      margin-bottom: 1.2rem;

    }


    .hero-paragraph {
      
      font-size: clamp(1rem, 1rem + 2vw ,2rem);
      margin-bottom: 0px;
      margin-top: 0px;

    }
    
  }

  .background-image-wrap{
    width: 100%;
    grid-area: image;

  }

  .background-image {
    background-position: 100%;
    height: 100%;
    width: 100%;
  }

  .hero-image {
    height: 100%;
    width: 100%;
  }

}
