<section class="hero">

    <div class="hero-text">
      <h1>המומחים של ברק מדיקל</h1>
      <p>מומחים ברפואה תעסוקתית ומגוון תחומים
נוספים, הפונה מלווה על ידי רופאי החברה
והייעוץ מותאם באופן אישי לכל מקרה.
      </p>

      <!-- <p class="down"> הפונה מלווה על ידי רופאי החברה והייעוץ מותאם באופן אישי לכל מקרה.  </p> -->
      <a routerLink="/he/about" class="cta-btn"> קרא עוד</a>
    </div>
  
    <div class="background-image-wrap">
      <div class="background-image">
      <div class="hero-image">
        <!-- <img src="/assets/images/hero/hero.png" alt=""> -->
      </div>    
      </div>

    </div>

</section>
  