<section class="who-we-are">
    <div class = "text-wrap">
        <h2> מי אנחנו </h2>
        <p> חברת י.ד. ברק מדיקל מתמחה בייעוץ ללקוחות במגוון תחומי רפואה תעסוקתית והם אובדן כושר עבודה, ייעוץ רפואי לתעשיות, קביעת קשר סיבתי וייעוץ בתחומי הביטוח הלאומי ומיצוי זכויות רפואיות.
            לחברת ברק מדיקל מגוון תחומי התמחות נוספים בהם רפואה צבאית, ייעוץ לקביעת פרופיל צבאי, רפואת צלילה ומנהל רפואי.
            הפונה מלווה על ידי רופאי החברה והייעוץ מותאם באופן אישי לכל מקרה. 
            </p>
    </div>
    <div class="image-wrap">
        <img src="/assets/images/placeholder.jpg" alt="">
    </div>
</section>


