@if (visible){

<div class="popup-backdrop" >
  <div class="popup-content" role="dialog" aria-modal="true" aria-labelledby="under-construction-heading">
    
    <h2 id="under-construction-heading">Site Under Construction | האתר כרגע בבניה</h2>
    <p>
         האתר כרגע בבניה יתכן שחלקו עדיין לא מונגש לכל המשתמשים עמכם הסליחה
    </p>
    <p>
        This website is currently under construction and may not be fully accessible.
    </p>
    
    <button (click)="dismiss()">OK</button>

  </div>
</div>


}
