
<div class="treatment">
    <h1 >
        רפואה צבאית
    </h1>
    <p>

רפואה צבאית אינה נחשבת  תחום התמחות מוכר במדינת ישראל ואולם לאור החלקים המשמעותיים שתופס השירות הצבאי בחיי תושבי מדינת ישראל ניתן לראותו הלכה למעשה כתחום ידע ייחודי ומובחן.
הממשקים הנוגעים למטופל מול גורמי הרפואה בצה"ל מתחילים כבר בשלב המועמדות לשירות ביטחון והוועדות הרפואיות לקביעת הפרופיל הצבאי המשפיע על אופק השירות.
מעבר לסוגיות הפרופיל וסעיפי הליקוי נוהג הצבא לשבץ את בעלי התפקידים למקצועות הצבאיים השונים על פי קריטריונים מקצועיים ייחודיים לא רק בשירות החובה אלא גם בקבע ובמילואים.
הממשק הרפואי שבין הרופאים המטפלים בחייל לרופאים הצבאיים הקובעים את כשירותו הינו על פי רוב חיובי ואולם קיימים מקרי ייחודיים שבהם לניסיונו של רופא הבקיא בתהליכי  הרפואה הצבאית יכול להיות לעזר רב.
הנושאים בהם יכול לסייע רופא הבקיא ברזי הרפואה הצבאית הינם התנהלות מול ועדות רפואיות, סוגיות אישורים חריגים וכו'.
ד"ר יאיר ברק הינו רופא מומחה לרפואה תעסוקתית ולמנהל רפואי בעל ניסיון רב בתחום הרפואה הצבאית.
בתחום המיון הרפואי שימש ד"ר ברק במספר תפקידים בענף רפואה תעסוקתית ומיון רפואי לרבות בתפקיד ראש הענף בדרגת סגן אלוף.
בתחום הוועדות הרפואיות הצבאיות שימש ד"ר ברק  בעת שירות הקבע  כמזכיר וכחבר  הוועדה הרפואית המייעצת לענייני פרישה רפואית וכעת בעת שירות המילואים כיו"ר ועדות רפואיות כגון הוועדה הרפואית העליונה לערעורים, וועדה רפואית למקצועות נדרשים וועדת הערר לענייני נכות תפקודית.
בתחום הרפואה הצבאית המבצעית לד"ר ברק ניסיון רב והיכרות משמעותית עם כלל יחידות הצבא לאור קשת רחבה של תפקידים צבאיים וקריירה צבאית ארוכה עד דרגת אלוף משנה כאשר בתפקידו האחרון בשירות סדיר שימש כמפקד הקורס העל זרועי לפיקוד ומטה "אפק" במכללות הצבאיות ועסק בהכשרה לדרג הבכיר של דרג הקצונה בדרגת סגן אלוף לתפקידים במערכת בניין הכוח.
ד"ר ברק ממשיך לשמש בשירות מילואים פעיל בשלל תפקידים ומשימות  כקצין הרפואה של הגיס הצפוני ,כמעריך במרכזי הערכה לקצינים לדרג הסא"ל , כרופא תעסוקתי וכיושב ראש וועדות רפואיות.


    </p>
</div>
