


// ------------------------------------
// SCSS VARIABLES (REM-based)
// ------------------------------------

// Color Palette

$light-blue:#ebf6ff;
$mid-dark-blue:#232873;
$dark-blue: #181d4c;

$bright-yellow: #fefcee;
$dark-yellow: #Ffdd39;

$bg-white: #fff;




// Font sizes
$font-size-xxxs: 0.5rem;   // 8px
$font-size-xxs:  0.75rem;  // 12px
$font-size-xs:   1rem;     // 16px
$font-size-sm:   1.25rem;  // 20px
$font-size-md:   1.5rem;   // 24px
$font-size-lg:   1.75rem;  // 28px
$font-size-xl:   2rem;     // 32px
$font-size-xxl:  2.25rem;  // 36px
$font-size-xxxl: 2.5rem;   // 40px

// Spacing (padding / margin)
$space-xxxs: 0.25rem;  // 4px
$space-xxs:  0.5rem;   // 8px
$space-xs:   0.75rem;  // 12px
$space-sm:   1rem;     // 16px
$space-md:   1.25rem;  // 20px
$space-lg:   1.5rem;   // 24px
$space-xl:   1.75rem;  // 28px
$space-xxl:  2rem;     // 32px
$space-xxxl: 2.25rem;  // 36px

// Border widths
$border-s: 1px;
$border-md: 2px;
$border-l: 3px;

// Border radius
$radius-sm:  0.25rem;  // 4px
$radius-md:  0.5rem;   // 8px
$radius-lg:  1rem;     // 16px

// animation times
$very-fast: 1s;
$fast: 2s;
$mid: 3s;
$long: 4s;

// Z-index layers
$z-index-nav : 1000;
$z-index-nav-mobile : 1100;
$z-index-call-banner :100;
$z-index-chatbot :200;
$z-index-under-construction : 2000;