
<main >
        <div class="hero">
    <h1 >
         רפואת צלילה
    </h1>
    </div>
    <div class="container">

    <p>צלילה ספורטיבית הנה ספורט בטוח ומהנה, המתאים לגילאים צעירים ומבוגרים כאחת. עם זאת, צלילה מתבצעת, מטבעה, בסביבה שהינה זרה לאדם ולכן נחשבת לספורט בסיכון מוגבר.
כדי לצלול בבטחה, פותחו לאורך השנים ציוד ונהלים מדויקים ומפורטים, אשר הביאו אותנו למצב הבטיחות הגבוה השורר היום בישראל.
שאלת הערכת כושרו הגופני, המנטלי והנפשי של הצולל להתמודד עם המים הנה מורכבת יותר.
בעולם קיימות גישות שונות למיון רפואי לצלילה בכלל ולכל מצב רפואי ספציפי בפרט. התורה הישראלית החלה להתפתח בסוף שנות השבעים של המאה הקודמת  ומאז מתעדכנת ומיושמת  באופן רציף.
הגישה העקרונית של המיון הרפואי של צוללים הינה לאפשר לכל אחד ואחת היכולים לצלול בבטחה לעשות זאת.
המטרות המוצהרות של הקריטריונים הן:
לאפשר לאדם שמבקש לצלול צלילה ספורטיבית לעשות כך, תוך שמירה מקסימלית על בריאותם
וביטחונם של הצולל ואלה שעמו במים ומחוץ למים.
 לזהות את מי שעלולים לסכן את עצמם או אחרים בצלילה.
לזהות את מי שזקוקים לסיוע מיוחד בצלילה, להגבלות כגון עומק וסוג הצלילה, לסיוע מיוחד או להדרכה ספציפית כדי לצלול בבטחה.
ההסתדרות הרפואית בישראל  הר"י  אישרה הכרה ברופאי צלילה כתחום ידע מיוחד, הכפוף
לקריטריונים שקבעה המועצה המדעית של הר"י בשנת ,2012 ולאישור פרטני של החברה הישראלית לרפואת צלילה ורפואה היפרבארית.
על פי ההגדרות המחייבות  במדינת ישראל "רופא צלילה"  או "רופא בודק צוללים"  הינו רופא שהינו בעל תעודת צולל מכל סוג ובוגר קורס רפואת צלילה במכון לרפואה ימית של חיל הים   או קורס מקביל אחר.
 
ד"ר יאיר ברק הוסמך כרופא צלילה בשנת 2006 לד"ר ברק משלב ניסיון בעולם הצלילה גם מהפן  הרפואי וגם מהפן המעשי  כמדריך צלילה.
ד"ר ברק   הינו חבר בהתאחדות הישראלית לצלילה  מגיל 15 והוסמך  כמדריך כבר בשנת 1997 ומחזיק ברישיונות  הדרכה לדרגות  מתקדמות לרבות כמדריך בקורסי מדריכים.
ד"ר ברק משמש כמדריך צלילה מיטיבה לצוללים בעלי צרכים מיוחדים .
ד"ר ברק משמש כמדיך מטעם ההתאחדות הישראלית לצלילה למדריכי צלילה בנושאי החייאה והצלה מטביעה.
 
קישורים-
אתר רשות הצלילה רפואה?
אתר ההתאחדות הישראלית לצלילה ?


    </p>
    </div>
</main>
