<div class="map-container">
  <!-- Display only if map options and center are ready AND map has loaded successfully -->
  @if ( mapLoaded ) {
    <google-map
      height="450px"
      width="100%"
      [zoom]="zoomLevel"
      [center]="center"
      [options]="mapOptions"
      class="interactive-map"
      (mapInitialized)="onMapInitialized()"
    >
      <!-- Marker for the clinic location -->
      <!-- <map-marker
        #markerRef="mapMarker"
        [position]="markerPosition"
        [options]="markerOptions"
        (mapClick)="openInfoWindow(markerRef)"
      ></map-marker> -->

      <!-- Info window for the marker -->
      <!-- <map-info-window #infoWindowRef="mapInfoWindow">
        <div class="info-window-content">
          <h3 >{{ name }}</h3>
          <p >{{ address }}</p>
          <a 
            [href]="directionsUrl"
            target="_blank"
            rel="noopener noreferrer"
            class="info-window-directions-link">
              Get Directions
          </a>
        </div>
      </map-info-window> -->
    </google-map>

  } @else if (isLoading) {
      <!-- Loading state while waiting for interactive map -->
      <div class="loading-map-message">
        <p>Loading interactive map...</p>
      </div>
    } @else {
      <!-- Fallback (if interactive map fails to load or API key is missing/invalid) -->
      <div>
      <!-- <a 
        [href]="directionsUrl"
        target="_blank"
        rel="noopener noreferrer"
        class="directions-button">
          Get Directions to Barak Medical Clinic
      </a> -->
      <p>
        failed to load map.
      </p>
    </div>
  }
</div>
