@use 'styles/variables.scss' as *;

.map-container{

    height: 100%;
    width: 100%;
    background-color: purple;

}

.loading-map-message{

    font-size: 2rem;
    background-color: rgb(205, 94, 94);
    color: $mid-light-blue;
}