<footer>
    <div class="top">

        <div class="column">
            <h3>צור קשר</h3>
            <a href="mailto:office@barakmedical.com">
                הדואר האלקטרוני שלנו <br>:office&#64;barakmedical.com</a>
            <a href="">וואטצאפ: TBD</a>
            <a href="">פקס: TBD</a>

        </div>


        <div class="column">
            <h3>מיקומינו</h3>
            <a href="">כתובת : הדובדבן 9, קרית אונו</a>
            <a href="">מפה והוראות הגעה</a>
        </div>

        <div class="column">
            <h3>עקבו אחרינו</h3>
            <div class="socials">
                <div class="img-wrap">
        <!-- ticktock -->
            <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
  <defs>
    <style>
      .cls-1 {
        fill: none;
        stroke: #232873;
        stroke-miterlimit: 10;
        stroke-width: 7px;
      }

      .cls-2 {
        fill: #232873;
      }
    </style>
  </defs>
  <rect class="cls-1" x="7" y="7.65" width="75.99" height="75.99" rx="24.1" ry="24.1"/>
  <g>
    <path class="cls-2" d="M69.87,65.21h-10.63v-17.26c-.04-3.83-1.34-7.38-5.82-7.12-3,.17-5.23,2.78-5.44,5.69v18.69s-10.69,0-10.69,0l.09-32.08h10.51l.09.09v4.45l1-1.34c4.04-5.12,12.59-5.2,17.13-.72,2.67,2.64,3.59,6.45,3.76,10.1v19.49Z"/>
    <polygon class="cls-2" points="31.38 33.13 31.38 65.21 20.75 65.21 20.75 33.22 20.85 33.13 31.38 33.13"/>
    <path class="cls-2" d="M25.47,17.73c3.8-.3,6.89,1.98,6.67,5.98-.36,6.47-10.89,6.93-11.92.54-.57-3.5,1.78-6.25,5.25-6.52Z"/>
  </g>
            </svg>
                </div>
                <div class="img-wrap">
                    <!-- linkedin  -->

                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
  <defs>
    <style>
      .cls-1 {
        fill: none;
        stroke: #232873;
        stroke-miterlimit: 10;
        stroke-width: 7px;
      }

      .cls-2 {
        fill: #232873;
      }
    </style>
  </defs>
  <path class="cls-2" d="M71.87,30.79v9.49c-3.97.41-7.5-.7-10.6-3.17l-2.95-3.15v24.61c0,7.03-8.35,14.14-15.11,14.7-24.46,2.02-24.98-34.28-.69-33.89v8.58c-13.78-1.03-12.2,19.44.57,17.06,2.6-.5,7.1-4.15,7.1-6.9V17.7h8.13c.68,6.98,6.45,12.96,13.55,13.09Z"/>
  <rect class="cls-1" x="7.95" y="7.53" width="75.99" height="75.99" rx="24.1" ry="24.1"/>
                    </svg>


        </div>
                    
                <div class="img-wrap">
                    <!-- tick tock -->
                             <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
  <defs>
    <style>
      .cls-1 {
        fill: none;
        stroke: #232873;
        stroke-miterlimit: 10;
        stroke-width: 7px;
      }
    </style>
  </defs>
  <rect class="cls-1" x="6.75" y="7.13" width="75.99" height="75.99" rx="24.1" ry="24.1"/>
  <circle class="cls-1" cx="44.74" cy="45.01" r="18.56"/>
</svg>

                </div>
            </div>
            <a class="a11y" routerLink="/accessibility-statement">הצהרת נגישות</a>
        </div>

    </div>    

    <!-- <div class="buttom"> -->
    <!-- </div> -->
</footer>