<footer>
    <div class="top">

        <div class="column">
            <h3>צור קשר</h3>
            <a href="mailto:office@barakmedical.com">
                הדואר האלקטרוני שלנו <br>:office&#64;barakmedical.com</a>
            <a href="">וואטצאפ: TBD</a>
            <a href="">פקס: TBD</a>

        </div>


        <div class="column">
            <h3>מיקומינו</h3>
            <a href="">כתובת : הדובדבן 9, קרית אונו</a>
            <a href="">מפה והוראות הגעה</a>
        </div>

        <div class="column">
            <h3>עקבו אחרינו</h3>
            <div class="socials">
                <div class="img-wrap">
                    <img src="/assets/images/socials/instagram.svg" width="44px" height="44px" alt="">
                </div>
                <div class="img-wrap">
                    <img src="/assets/images/socials/linkedin.svg" width="44px" height="44px" alt="">
                </div>
                <div class="img-wrap">
                    <img src="/assets/images/socials/tiktok.svg" width="44px" height="44px" alt="">
                </div>

            </div>
            <a class="a11y" routerLink="/accessibility-statement">הצהרת נגישות</a>
        </div>

    </div>    

    <!-- <div class="buttom"> -->
    <!-- </div> -->
</footer>