@use 'styles/variables.scss' as *;

.footer {

    background-color: $light-blue;
    padding-inline: 80px;
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;

}

/* Each column adapts */
.column {

    flex: 1;

    display: flex;
    flex-direction: column;
    min-width: 100px;
    text-align: start;
    color: $mid-dark-blue;
       
    .footer-link{

        // background-color: red;
        min-height: 44px;
        min-width: 44px;
        width: fit-content;
        font-size: 1.5rem;
        text-decoration: none;
        color: $mid-dark-blue;
    }

}

.socials{

    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    
    
}


.img-wrap{

    min-height: 44px;
    min-width: 44px;
    aspect-ratio: 1 / 1;
    width: clamp(44px, 4.5vw ,100px);

    svg{
        
        width: 100%;
        height: 100%;
        object-fit: contain;
        
    }
}


.svg-link{
    height: 100%;
    width: 100%;
    display: block;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;

}

.space-top{
    margin-top: 20px;
}

.credits{

    text-align: end;
    font-size: 1rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;

}