<main class="about">
    <h1>נעים להכיר!</h1>
    <p>
        אנחנו דריה ויאיר – זוג בחיים וגם בעבודה. את ברק מדיקל הקמנו כדי להפוך את הידע והניסיון שלנו לרפואה תעסוקתית מקצועית, נגישה ואנושית.
    </p>

    <section class="about-dr-grid">

        <div class="dr-summary">
            
        </div>
        <div class="dr-description">
            <div class="title">
                <h2>
                    ד"ר דריה לוי-ברק
                </h2>
                <div class="contact">
                    <span></span>
                    <span></span>
                </div>
                <div class="links">
                    <!--  TODO svg for linkedin -->
                      <button>E-card</button>
                </div>
            </div>
            
            <p>
                ד"ר דריה לוי-ברק היא מומחית ברפואה תעסוקתית וברפואה פנימית. תחומי עיסוקה כוללים ליווי עובדים, מתן חוות דעת רפואיות וייעוץ מקצועי לגופים פרטיים וציבוריים.
            </p>
            
            <p>
                את לימודיה סיימה באוניברסיטת תל אביב, שם הוסמכה כדוקטור לרפואה (MD) וגם השלימה תואר שני בבריאות בתעסוקה. בנוסף, היא בוגרת לימודי מנהל מערכות בריאות מאוניברסיטת בר-אילן.
            </p>
            
            <p>
במהלך הקריירה עבדה כרופאה בכירה במרכז הרפואי מאיר בין השנים 2008–2017, ולאחר מכן כרופאה בכירה במרפאה התעסוקתית של כללית במחוז תל אביב בשנים 2017–2024.
            </p>

            <p>
                כיום היא מכהנת כמנכ"לית ברק מדיקל, מזכירת האיגוד לרפואה תעסוקתית, וכן רכזת בחינות שלב א׳ ובוחנת בבחינות שלב ב׳ מטעם האיגוד.
            </p>
        </div>


    </section>


</main>
