@use 'styles/variables.scss' as *;


.about{

    min-height: 100vh;
    width: 100%;
    background-color: $bg-white;
    color: $mid-dark-blue;
    padding-block: 80px;
    padding-inline: 80px;
}

.title{

    font-size: 2.8rem;
    font-weight: bold;

}



.title-introduction{

    font-size: 2.8rem;
    max-width: 70ch;

}



.about-dr-grid{

    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 80%;
    margin-inline: auto;
    .dr-summary{
        
        .summary-title{
            font-weight: bold;
            padding-top: 1rem;
        }

        img{

            width: 100%;

        }
    }

    .dr-description{
        max-width: 75ch;
        padding: 1.5rem;
        .dr-header{

            padding-bottom: 1rem;
            padding-top: 60px;
            .contact {
                padding-bottom: 10px;   
                span {
                    padding-inline-end: 2ch;
                }
            }

            .links{
                display: flex;
                gap: 1rem;
                .svg-link{
                    height: 44px;
                    width: 44px;
                    display: block;
                    padding: 0;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                }

                .E-card{

                    font-size: 1.5rem;
                    background-color: $light-blue;
                    color: $mid-dark-blue;
                    border: 2px solid transparent;
                    border-radius: 15px;
                    padding-block: 5px;
                    width: 130px;
                    text-align: center;
                        &:hover{
                            background-color: $mid-dark-blue;
                            color: $light-blue;
                            border: 2px solid transparent;
                        }
                    }
            }
        }


        .dr-text{

            padding-bottom: 1.5rem;
            font-size: 1.3rem;
        }
    }

}


.svg-link{

    color: $light-blue;
    fill: $light-blue;
    stroke: $light-blue;
    &:hover{

        color: $mid-dark-blue;

    }
}
.inner-light-blue .outer-light-blue{

    
    &:hover{

        background-color: red;

    }
}