
<main >
    <div class="hero">
        <h1 h1 class="hero-title">
         רפואה תעופתית
        </h1>
    </div>
    <div class="container">
    <p>
        רף הבטיחות הגבוה הנהוג בתחום התעופה מחייב ביצוע מעקב מתמיד אחר בריאותם של טייסים, פקחי טיסה ומפעילי כטב"מ.
 לכן עליהם לעבור בדיקות רפואיות תקופתיות על מנת לוודא את כשירותם הרפואית. תעודה רפואית תקפה מאשרת את ההתאמה הבריאותית בהתאם לרישיון או להגדר המבוקש.
    </p>
    <p> שלבי התהליך הינם:
</p>
    <ol>
        <li>
             תשלום אגרה עבור הנפקת תעודה רפואית לרשות התעופה האזרחית.
        </li>
        <li>
 בדיקות מקדימות לבעיות רפואיות ידועות טרם הגעה לרופא תעופתי מוסמך על ידי רת"א.
        </li>
        <li>
 מילוי טופס בקשה לבדיקה רפואית בצורה מקוונת און-ליין.
        </li>
        <li>
 ביצוע בדיקה רפואית אצל רופא תעופתי מוסמך על ידי רת"א.
        </li>
        <li>
 קבלת התעודה.
        </li>
        
    </ol>
    <p>
         יש לבדוק עם הרופא התעופתי שבחרתם אלו בדיקות יש לבצע לפני הגעה לבקשה הרפואית לפי סוג התעודה הרפואית המבוקשת, גיל והיסטוריה רפואית.
    </p>
    <p> 
        עליכם לבצע בדיקה אצל רופא תעופתי אשר הוסמך לכך על ידי מנהל רשות התעופה האזרחית. לתשומת ליבכם ביצוע הבדיקה כרוך בתשלום לרופא, בנוסף לתשלום האגרה לבדיקה רפואית עבור רת"א טרם הגעתכם לבדיקה, עליכם למלא טופס בקשה מקוון. אשר ישלח לרופא המוסמך שתבחרו באמצעות דוא"ל בסיום התהליך. כדי לקבל שירות ממשלתי מזוהה תידרשו לעבור תהליך חד פעמי של הרשמה ואימות זהות. לידיעתכם - טופס הבקשה הדיגיטלי נשמר באזור האישי של המבקש ובמידת הצורך ניתן לערוך אותו.
    </p>

    </div>
</main>
