 <div class="treatment">

    <h1>מיצוי זכויות רפואיות</h1>
    <p>חרף נסיונות של גופים לסייע בתחום אפשרויות של מיצוי זכויות רפואיות מול הביטוח הלאומי, מול קרנות הפנסיה ומול חברות הביטוח אנו נתקלים בחוסר ידע באשר לאופן הפניה לגופים, סוג התביעה המתבקשת, התהליכים המתרחשים והאפשרות לערער על קביעה רפואית. 
        חברת ברק מדיקל יכולה לסייעה בהכוונה במצבים בהם נדרש הסבר וייעוץ בתחום מיצוי הזכויות מול הגופים השונים במטרה להפחית את החשש בפניה לגופים אלה והבנה לגבי דרכי ההתמודדות מולם.
    </p>

</div>