@if ( pageData  ){

<main class="side-page-main">

    <h1 class="title"> {{pageData.h1}}</h1>
    @if(pageData.subHeader){
        <p class="subheader">
            {{ pageData.subHeader }}
        </p>
    }
    @for (section of pageData['sections']; track $index) {
        @if (section.type === "large-card") {
            <section class="big-card">
                <h2 class="h2-title" detectWrapParent="big-card" >{{ section.h2 }}</h2>
                @for (item of section.content; track $index) {
                    @if (item.type === 'p') {
                    <p class="big-card-text"
                    >{{ item.content }}</p>
                    } @else if (item.type === 'image') {
                    <img class="big-card-img"
                        [src]="item.url"
                        alt="" />
                    }
                    @else if (item.type === 'li') {


                        <ul class="dash-list">
                            @for (listItem of item.content; track $index) {
                                <li class="list-item big-card-text">
                                    {{listItem}}
                                </li>
                            }
                        </ul>

                    }
                }
            </section>
        }@else if(section.type === "cards-container") {
            <app-cards-container [cardsContainerData]="section" ></app-cards-container>
        }@else {
            <h1 class="title">  there was an error </h1>
        }
    }

</main>







}
