@use 'styles/variables.scss' as *;




.title{

    padding-block-start: 45px;
    font-size: 3rem;
    font-weight: bold;

}

.dot-list {
    padding-inline-start: 30px;
    list-style-type: disc !important;
    color: currentColor;

    li {
        list-style-type: disc !important;
    }

}
.subheader{

    font-size: 2rem;
    padding-block-end: 40px;
    max-width: 70ch;

}
