@if ( pageData  ){

<main class="homepage-section">

    <h1 class="title"> {{pageData.h1}}</h1>
    @if(pageData.subHeader){
        <p class="subheader">
            {{ pageData.subHeader }}
        </p>
    }
    @for (section of pageData['sections']; track $index) {
        <div class="inner-padding">
            @if (section.type === "large-card") {
                <section class="big-card">
                    <h2 class="h2-title">{{ section.h2 }}</h2>
                    @for (item of section.content; track $index) {
                        @if (item.type === 'p') {
                        <p class="big-card-text"
                        >{{ item.content }}</p>
                        } @else if (item.type === 'image') {
                        <img class="big-card-img"
                            [src]="item.url"
                            alt="" />
                        }
                    }
                </section>
            }@else if(section.type === "cards-container") {
                <app-cards-container [cardsContainerData]="section" ></app-cards-container>
            }@else {
                <h1 class="title">  there was an error </h1>
            }
            
        </div>
    }

</main>







}
