@use 'styles/variables.scss' as *;




.title{

    padding-block-start: 45px;
    font-size: 3rem;
    font-weight: bold;

}

.dash-list li::before {
  content: '– ';
  color: currentColor;
}

.subheader{

    font-size: 2rem;
    padding-block-end: 40px;

}
