
<section class="homepage-section">
    <div class="cards-container-warp">
    <h2>רפואה תעסוקתית</h2>

            
        <ul class="cards-container" >
            <li class="card">

                
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="כושר עבודה"
                description=" הערכת כשירות רפואית לעבודה, התאמת תפקידים ומתן חוות דעת מקצועיות." 
                routeTo="/services/work-ability" ></app-card>
            </li>
            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="ייעוץ לארגונים"
                description="ליווי ארגונים וחברות בקבלת החלטות רפואיות ותעסוקתיות מורכבות." 
                routeTo="/services/industry-consulting" ></app-card>
            </li>
 

            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="קשר סיבתי"
                description=" חוות דעת רפואיות מומחיות לבחינת הקשר בין מצב בריאותי לתנאי עבודה או אירוע מסוים." 
                routeTo="/services/causal-link-assessment" ></app-card>
            </li>

            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="מיצוי זכויות"
                description="סיוע מקצועי בהצגת חוות דעת רפואיות מול ביטוח לאומי, חברות ביטוח וגורמים משפטיים.
" 
                routeTo="/services/medical-rights" ></app-card>
            </li>
            
        </ul>

    </div>

</section>
