@use 'styles/variables.scss' as *;
@use 'app/pages/home/home.component.scss';

.about-wrap{

  width: fit-content;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;

}
.dr-wrap{

  min-height: 200px;

  // width: calc(50% - 161px );
  display: flex;
  font-size: clamp(0.1rem, calc(0.1rem + 1.5vw) , 1.5rem);

  .dr-image{

    max-width: 50%;
    aspect-ratio: 1 / 1;
    height: clamp(200px, calc( 100px + 15vw ),  300px);
    
    img{

      width: 100%;
      height: 100%;

    }
  }
  
  .dr-about-text{

    padding-inline-start: 14px; 
    overflow-wrap: break-word;
    width: 30ch;    
    .dr-description{
      font-size: 32px;
      letter-spacing: 0.00em;
    }


  }

}



.dr-name{

  font-weight: 900;
  font-size: 63px;
  padding-top: 33px;
  color: $mid-dark-blue;

  .dr-link{
    text-decoration: none;
  }
  a:visited{
    color: $mid-dark-blue;
  }

}

.title{

  a:visited{color: $mid-dark-blue;}
}

.reverse{

  flex-direction: row-reverse;

}