<section class="homepage-section">

    <a routerLink="/about" >
        <h2>עלינו</h2>
    </a>
    <div class="about-wrap">

        <!-- Yair -->
        
        <div class="dr-wrap">
            <div class="dr-image">
                <img src="/assets/images/placeholder.jpg" alt="">
            </div>
            <div class="dr-about-text">
                <a routerLink="/about" >
                    <h3>ד"ר יאיר ברק</h3>
                </a>
                <p>
                רופא תעסוקתי, אל״מ (מיל׳) בצה״ל, בעל ניסיון נרחב ברפואה צבאית, תעופתית ותעסוקתית.
                </p>
            </div>
      
        </div>
    

        <!-- Daria -->

        <div class="dr-wrap" >
            <div class="dr-image">
                <img src="/assets/images/placeholder.jpg" alt="">
            </div>
            <div class="dr-about-text">
                <a routerLink="/about" > 
                    <h3>ד"ר דריה לוי-ברק</h3>
                </a>
                <p>
                    מומחית ברפואה תעסוקתית וברפואה פנימית, עם ניסיון עשיר בבתי חולים ובייעוץ רפואי לגופים, חברות ואנשים פרטיים.
                </p>
            </div>
            
        </div>

    </div>
    
</section>


