@use 'styles/variables.scss' as *;


.about-wrap{

  width: fit-content;
  padding: 14px;
  
  display: flex;
  flex-wrap: wrap;
  
  gap:  1rem;
  justify-content: space-around;
  margin-inline: auto;

}
.dr-wrap{


  min-width: fit-content;
  min-height: 200px;
  // max-width: 500px;
  
  display: flex;
  font-size: clamp(0.1rem, calc(0.1rem + 1.5vw) , 1.5rem);

  .dr-image{

    max-width: 50%;
    aspect-ratio: 1 / 1;
    min-height: clamp(200px, calc( 50px + 15vw ),  500px);
    
    img{

      width: 100%;
      height: 100%;

    }
  }
  
  .dr-about-text{

    width: 100%;
    height: 100%;
    padding-inline-start: 14px; 
    
    display: flex;
    flex-direction: column;

    p{
      max-width: 30ch;
    }


  }

}

a{

  text-decoration: none;

}

.dr-name{
  color: black;

  a:visited{
    color: black;
  }
}

.title{
  a:visited{color: $mid-dark-blue;}
}

.reverse{

  flex-direction: row-reverse;


}