<section class="homepage-section">
    <h2 class="title">
        <a routerLink="/about" tabindex="-1" >
            עלינו
        </a>
    </h2>
    <div class="about-wrap">

        <!-- Yair -->
        <div class="dr-wrap">
            <div class="dr-image">
                <img src="/assets/images/about/yair.webp" alt="">
            </div>
            <div class="dr-about-text">
                <h3 class="dr-name">
                    <a class="dr-link" 
                    routerLink="/about" tabindex="-1">
                        ד"ר יאיר ברק
                    </a>
                </h3>
                <p class="dr-description" >
               מומחה לרפואה תעסוקתית ולמנהל רפואי. אל״מ במילואים בעל נסיון רב בתחומי הרפואה הצבאית והמיון הרפואי הצבאי רפואת צלילה ורפואה תעופתית וכיועץ לגופים בטחוניים חברות וארגונים.

                </p>
            </div>
        </div>
    

        <!-- Daria -->

        <div class="dr-wrap" >
            <div class="dr-image">
                <img src="/assets/images/about/darya.webp" alt="">
            </div>
            <div class="dr-about-text">
                <h3  class="dr-name" >
                    <a class="dr-link"
                    routerLink="/about" tabindex="-1" > 
                        ד"ר דריה לוי-ברק
                    </a>
                </h3>
                <p class="dr-description" >
מומחית לרפואה תעסוקתית ולרפואה פנימית, בעלת ניסיון עשיר במערכת הבריאות הציבורית ובייעוץ רפואי לגופים, חברות ואנשים פרטיים.
                </p>
            </div>
            
        </div>

    </div>
    
</section>


