@use 'styles/variables.scss' as *;
@use 'app/pages/home/home.component.scss';

.about-wrap{

  //TODO maybe add max width for extreamly large screens
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-inline: auto;

}

.dr-wrap{

  display: flex;
  flex-direction: row;
  .dr-image{

    max-width: 33%;
    
    img{

      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;

    }
  }
  
  .dr-about-text{

    padding-inline-start: 14px; 
    overflow-wrap: break-word;
    .dr-description{

      max-width: 30ch;
      font-size: clamp(1rem, calc(1rem + 0.4vw), 3rem);
      letter-spacing: 0.00em;

    }

    .dr-name{

      font-weight: 900;
      font-size: clamp(2rem, 1rem + 0.8vw, 53px);
      color: $mid-dark-blue;

      .dr-link{
        text-decoration: none;
      }
      a:visited{
        color: $mid-dark-blue;
      }

    }


  }

}


.title{

  a:visited{color: $mid-dark-blue;}

}


@media only screen and  ( max-width : 1048px ) {

  .about-wrap{

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-inline: auto;


    .dr-wrap{
      
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      .dr-image{
        max-width: 50%;
      }
    
      .dr-about-text{

        padding-inline-start: 0px; 

        .dr-description{

          font-size: 1.5rem;
          text-align: center;
          margin: auto;
        }

        .dr-name{

          font-size: 3rem;
          text-align: center;

        }

      }

    }
  }

}



