<section class="homepage-section">
    
    <h2>עלינו</h2>

    <div class="about-wrap">

        <!-- Yair -->
        
        <div class="dr-wrap">
            <div class="dr-image">
                <img src="/assets/images/placeholder.jpg" alt="">
            </div>
            <div class="dr-about-text">
                <h3>ד"ר יאיר ברק</h3>
                <p>
                  בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה   
                </p>
            </div>
      
        </div>
    

        <!-- Daria -->

        <div class="dr-wrap reverse" >
            <div class="dr-image">
                <img src="/assets/images/placeholder.jpg" alt="">
            </div>
            <div class="dr-about-text column-reverse">
                <h3>ד"ר דריה לוי-ברק</h3>
                <p>
                  בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה   
                </p>
            </div>
            
        </div>

    </div>
    
</section>


