  <main>
    <div class="hero">
        <h1>הצהרת נגישות</h1>
    </div>
    
        <section class = "container">
        <h2>כללי</h2>
        <p>
            ברק מדיקל רואים חשיבות רבה בהנגשת שירותיה לכלל הציבור. אנו פועלים על מנת להבטיח שניתן לקבל שירות שוויוני, מכובד, נגיש ומקצועי - הן במרחב הפיזי והן במרחב הדיגיטלי - בהתאם לחוק שוויון זכויות לאנשים עם מוגבלות, התשנ"ח–1998 ולתקנות שהותקנו מכוחו.
        </p>
        </section>

        <section class = "container" >
        <h2>נגישות האתר</h2>
        <p>
            אתר האינטרנט של ברק מדיקל פותח בהתאם להנחיות התקן הישראלי 5568 ולתקן הבינלאומי WCAG 2.0 ברמה AA.
        </p>
        <ul>
            <li>תמיכה בקוראי מסך כגון NVDA </li>
            <li>ניווט מלא באמצעות מקלדת</li>
            <!-- <li>שינוי גודל טקסט וניגודיות דרך הגדרות הדפדפן</li> -->
            <li>מבנה עקבי וסימון ברור לקישורים וכפתורים</li>
        </ul>
        </section>

        <section class = "container">
        <h2>נגישות במרפאה</h2>
        <p>
            במרפאה קיים:
        </p>
        <ul>
            <li>כניסה נגישה ורמפה לבעלי כיסאות גלגלים</li>
            <li>חניות נכים מסומנות</li>
            <li>שירותים נגישים</li>
            <li>מעלית עם סימון ברייל </li>
        </ul>
        </section>

        <section class = "container">
<h2>אחראי נגישות</h2>
<p>
    בברק מדיקל מונה אחראי נגישות האחראי על יישום מדיניות הנגישות וטיפול בפניות הציבור.
</p>
<p>
  <strong>אחראי נגישות:</strong> ד״ר יאיר ברק<br>
  <strong>טלפון:</strong>
  <a href="tel:+972523400508">052-340-0508</a><br>
  <strong>דוא"ל:</strong>
  <a href="mailto:Yair@barakmedical.com">Yair&#64;barakmedical.com</a>
</p>
        </section>

        <section class = "container">
        <h2>פניות והצעות לשיפור</h2>
        <p>
            אם נתקלתם בקושי כלשהו בעת השימוש באתר או בעת קבלת שירות במרפאה, נשמח שתעדכנו אותנו.
             ניתן ליצור קשר בטלפון, בדוא"ל.
        </p>
        </section>

        <section class = "container">
        <h2>עדכון ההצהרה</h2>
<p>
  הצהרה זו עודכנה לאחרונה בתאריך:
  <time datetime="2025-12-31">31 בדצמבר 2025</time>.
  אנו בודקים את רמת הנגישות של האתר והמרפאות באופן שוטף ומבצעים עדכונים לפי הצורך.
</p>
        </section>
  </main>






  
