  <main>
    <div class="hero">
        <h1>הצהרת נגישות</h1>
    </div>
    
        <section class = "container">
        <h2>כללי</h2>
        <p>
            ברק מדיקל רואים חשיבות רבה בהנגשת שירותיה לכלל הציבור. אנו פועלים על מנת להבטיח שניתן לקבל שירות שוויוני, מכובד, נגיש ומקצועי - הן במרחב הפיזי והן במרחב הדיגיטלי - בהתאם לחוק שוויון זכויות לאנשים עם מוגבלות, התשנ"ח–1998 ולתקנות שהותקנו מכוחו.
        </p>
        </section>

        <section class = "container" >
        <h2>נגישות האתר</h2>
        <p>
            אתר האינטרנט של ברק מדיקל פותח בהתאם להנחיות התקן הישראלי 5568 ולתקן הבינלאומי WCAG 2.0 ברמה AA.
        </p>
        <ul>
            <li>תמיכה בקוראי מסך כגון NVDA </li>
            <li>ניווט מלא באמצעות מקלדת</li>
            <!-- <li>שינוי גודל טקסט וניגודיות דרך הגדרות הדפדפן</li> -->
            <li>מבנה עקבי וסימון ברור לקישורים וכפתורים</li>
        </ul>
        </section>

        <section class = "container">
        <h2>נגישות במרפאה</h2>
        <p>
            במרפאה קיים:
        </p>
        <ul>
            <li>כניסה נגישה ורמפה לבעלי כיסאות גלגלים</li>
            <li>חניות נכים מסומנות</li>
            <li>שירותים נגישים</li>
            <li>מעלית עם סימון ברייל </li>
        </ul>
        </section>

        <section class = "container">
        <h2>רכז נגישות</h2>
        <p>
            בברק מדיקל מונה רכז נגישות האחראית על יישום מדיניות הנגישות וטיפול בפניות הציבור.
        </p>
        <p>
            <strong>רכזת נגישות:</strong> ישראל ישראלי<br>
            <strong>דוא"ל:</strong>
             <a href="mailto:accessibility@barakmedical.com">
                accessibility&#64;barakmedical.com
            </a>
             <br>
            <strong>טלפון:</strong> <a href="tel:+97200000000">00-000-0000</a><br>
            <strong>כתובת:</strong> הדובדבן 9 קריית אונו
        </p>
        </section>

        <section class = "container">
        <h2>פניות והצעות לשיפור</h2>
        <p>
            אם נתקלתם בקושי כלשהו בעת השימוש באתר או בעת קבלת שירות בסניף, נשמח שתעדכנו אותנו.
             ניתן ליצור קשר בטלפון, בדוא"ל.
        </p>
        </section>

        <section class = "container">
        <h2>עדכון ההצהרה</h2>
        <p>
            הצהרה זו עודכנה לאחרונה בתאריך: <time datetime="2025-06-09">09 ביוני 2025</time>. אנו בודקים את רמת הנגישות של האתר והמרפאות באופן שוטף ומבצעים עדכונים לפי הצורך.
        </p>
        </section>
  </main>