@use 'styles/variables.scss' as *;


main{

    min-height: 100dvh;
    width: 100%;
    background-color: $bg-white;
    color: $mid-dark-blue;
    padding: $space-xxxl;

    .hero{

        .hero-title{

            font-size: 3.5rem;
            font-weight: bold;
            line-height: 1.5;
            margin-bottom: 20px;
            text-align: center;
        }

    }


    .content{

        max-width: 75ch;
        font-size: 2rem;

    }

}
