@use 'styles/variables.scss' as *;

h2 {


    font-weight: bold;
    color: $mid-dark-blue;
    font-size: 3rem;
    margin-bottom: $space-lg;
    padding: 0 ;

}


h3 {


  font-size: clamp(1.3rem, calc(1rem + 2vw) ,2.5rem);
  font-weight: bold;
    

}

