@use 'styles/variables.scss' as *;

:host{

    display: none ;

}

@media screen and (max-width: 720px){
    
    :host {
  
        position: sticky;
        bottom: 0;
        z-index: $z-index-call-banner;
        // display: flex;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        width: 100%;
        padding: 20px;

        background-color: $bg-white;

        p{

            font-size: 2rem;
            margin-bottom: 1rem;

        }

        a{

            display: inline-block;
            width: min(10rem, 80%);
            border-radius: 9999px;
            text-align: center;
            font-size: $font-size-md;
            font-weight: bold;
            padding: calc($space-sm / 4) $space-sm;
            text-decoration: none;
            color: $mid-dark-blue;
            background-color: $light-blue;

            &:hover{

                color: $light-blue;
                background-color: $mid-dark-blue;
                
            }
        }


    }

}