
<main >
    <div class="hero">

    <h1 >
         מנהל רפואי
    </h1>
    </div>
    <div class="container">
    <p>
מנהל רפואי הינה התמחות מוכרת ורשמית בתחום הרפואה במדינת ישראל.
על פי הגדרות ההתמחות מטעם ההסתדרות הרפואית לישראל המנהל הרפואי הוא המנהיג והמוביל של ארגון רפואי ונדרש לביצוע תפקידו  תוך שימוש מושכל במשאבים של משאבי אנוש, ידע, הון, נכסים חומריים ונכסים לא-מוחשיים, זאת על מנת להשיג את מטרות הארגון, ולהבטיח טיפול רפואי איכותי.
המנהל הרפואי נדרש לעסוק ולהפגין מיומנות  בפעולות תכנון , ארגון, הנהגה ובקרה.
כחלק מהגדרות העיסוק והמקצוע  הרופא המומחה במנהל ציבורי  נדרש להפגין וליישם היכרות מעמיקה עם מבנה והתפתחות מערכת הבריאות בישראל לרבות המבנה הארגוני וכן עם חקיקה ונהלים במערכת הבריאות.
לעיתים רבות ההתנהלות של המערכת הרפואית מול הפרט נובעת מאילוצים מבניים או רגולטוריים, לפיכך  התייעצות עם רופא מומחה במנהל רפואי יכולה להביא ערך מוסף בהתנהלות הנכונה למול המערכת הרפואית אף מעבר להתנהלות מול הרופאים המטפלים.
דוגמאות אפשריות לנושאים המערבים סוגיות רגולטוריות בנוסף לסוגיות רפואיות טהורות קיימות בעיקר בהתנהלות מול משרדי ממשלה וגופים כגון מכון רפואי לבטיחות בדרכים (מרב"ד) רישוי  כלי ירייה,  וועדות רפואיות שונות וכו'.
ד"ר יאיר ברק הינו רופא מומחה למנהל רפואי אשר ביצע את התמחותו במסגרת מפקדת קצין הרפואה הראשי בצה"ל  וההנהלה הכללית של משרד הבריאות.
לד"ר ברק ניסיון ניהולי  רב שנים כמנהל מרפאה מחוזית לרפואה תעסוקתית  , כמנהל מחלקה לנהלים וסטנדרטים בקהילה בהנהלת משרד הבריאות ובתפקידים בכירים בחיל הרפואה כגון מפקד הרפואה בפיקוד הדרום, ראש ענף מיון רפואי ורפואה תעסוקתית וכו'.


    </p>
    </div>
    
</main>
