/* You can add global styles to this file, and also import other style files */

// ===========================================
// ===========================================
// ================== fonts ==================
// ===========================================
// ===========================================



@font-face {
  font-family: 'Almoni';
  src: url('/public/assets/fonts/almoni-neue-regular-aaa.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Almoni';
  src: url('/public/assets/fonts/almoni-medium-aaa.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Almoni';
  src: url('/public/assets/fonts/almoni-demibold-aaa.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

// ===========================================
// ===========================================
// ============== end fonts ==================
// ===========================================
// ===========================================


html, body {

  font-family: 'Almoni', sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Optional: Apply box-sizing globally */
*, *::before, *::after {
  box-sizing: border-box;
}

  
app-root {
display: flex;
flex-direction: column;
flex: 1;
}
  






