@use 'styles/variables.scss' as *;

// ===========================================
// ===========================================
// ================== fonts ==================
// ===========================================
// ===========================================



@font-face {
  font-family: 'Almoni';
  src: url('/assets/fonts/webfont_files/almoni-regular-aaa.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Almoni';
  src: url('/assets/fonts/webfont_files/almoni-regular-aaa.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Almoni';
  src: url('/assets/fonts/webfont_files/almoni-regular-aaa.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// ===========================================
// ===========================================
// ============== general ==================
// ===========================================
// ===========================================

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $mid-dark-blue;
  text-decoration: none;
  
}

button, input { all: unset; }

button{

  cursor: pointer;

}
button, a,  input, textarea, select, 
[tabindex]:not([tabindex="-1"]) {

  border: 2px solid transparent;
  transition : all 0.2s ease;
}

/* 1. Reset default focus styles */
:focus {
  outline: none;
}

*:focus-visible {
  
  outline: 2px solid $dark-yellow !important;
  outline-offset: 2px !important;
  border: 2px solid $dark-blue !important;
  background-color: $bright-yellow !important ;
  color: $mid-dark-blue !important;

}


html, body {

  font-family: 'Almoni', sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}


ul, ol, li{
  list-style: none;
}


/* Apply box-sizing globally */
*, *::before, *::after {
  box-sizing: border-box;
}

  
app-root {

display: flex;
flex-direction: column;
flex: 1;

}
  
.container {

  width: 90%;
  max-width: 75ch;
  margin-inline: auto;
  padding-inline: 1rem;
  font-size: 2rem;

}



.homepage-section {

    padding-block: 40px;
    padding-inline: 80px;
  
  }

.inner-padding{

  padding-bottom: 45px;
  
}

.big-card{

  margin-top: 100px;
  position: relative;
  border: 4px solid $light-blue;
  border-radius: 80px 80px 80px 80px ;
  padding-inline: 45px;
  padding-top: 60px;
  padding-bottom: 22px;
  font-size: 2.25rem;

  .big-card-text{
    max-width: 70ch ;
  }

  .big-card-img{

    width: 100%;

  }

  .h2-title{
      
    position: absolute;
    top: calc(-3rem + 10px);
    right: -144px;

    width: fit-content;
    padding-block: 0.5rem;
    padding-inline-start: 45px;
    padding-inline-end: 1ch;
    font-size: 3rem;

    border-end-end-radius: 999px;
    border-start-end-radius: 999px;

    background-color: $light-blue;
    color: $mid-dark-blue;

  }

}

.big-card.wrapped {

  padding-top: 120px;

}

.side-page-main{
  
    padding-block: 40px;
    padding-inline: 144px;
  
}

@media screen and ( max-width: 1100px ) {

  .side-page-main{
  
    padding-block: 40px;
    padding-inline: 40px;
  
  }

  .big-card{

    padding-inline: 45px;
    padding-top: 35px;
    padding-bottom: 22px;
    font-size: 2.25rem;

    .big-card-text{
      font-size: 1.5rem;
    }

    .big-card-img{
      width: 100%;
    }

    .h2-title{
        
      top: calc(-3rem + 10px);
      right: -40px;

      font-size: 2.2rem;

    }

  }

  .big-card.wrapped {
    padding-top: 80px;
  }


}

@media screen and ( max-width: 720px ) {

  .homepage-section{

    padding-inline: 20px;

  }

  .side-page-main{
  
    padding-block: 20px;
    padding-inline: 20px;
  
  }

  .big-card{

    padding-inline: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 2.25rem;

    .big-card-text{
      font-size: 1.5rem;
    }

    .big-card-img{
      width: 100%;
    }

    .h2-title{
        
      top: calc(-3rem + 10px);
      right: -40px;

      font-size: 1.5rem;

    }

  }

  .big-card.wrapped {
    padding-top: 60px;
  }


}