<section class="cards-section" >
    
    <div class="cards-container-warp">
        <h2> תחומים נוספים </h2>

        <ul class="cards-container" >
            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="רפואה צבאית"
                description="מומחיות ברפואה צבאית מאפשרת לנו להעניק ייעוץ מקצועי לחיילים בסדיר, בקבע ובמילואים. השירות כולל אבחון, חוות דעת והכוונה רפואית תוך הבנה של הצרכים המיוחדים של המערכת הצבאית." 
                routeTo="/services/military-medicine" ></app-card>
            </li>
            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="מנהל רפואי"
                description="שירותי ניהול רפואי מספקים מסגרת ארגונית לפעילות רפואית תקינה במוסדות ציבוריים ופרטיים. אנו מציעים ייעוץ להנהלות רפואיות בנושאים של תקינה, תפעול, ותהליכי קבלת החלטות." 
                routeTo="/services/medical-administration" ></app-card>
            </li>
            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="רפואת צלילה"
                description="רופא מוסמך לרפואת צלילה מבצע הערכות כשירות לצלילה, טיפול בבעיות רפואיות הנובעות מצלילה וליווי רפואי לצוללים מקצועיים וחובבים. השירות כולל גם הדרכה והסברה בנושאי בטיחות." 
                routeTo="/services/diving-medicine" ></app-card>
            </li>
            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="רפואה תעופתית"
                description="הרפואה התעופתית מתמקדת בהיבטים רפואיים הקשורים לתעופה אזרחית וצבאית. אנו מבצעים בדיקות כשירות לטייסים, אנשי צוות אווירי ונוסעים, בהתאמה להנחיות בין־לאומיות." 
                routeTo="/services/aviation-medicine" ></app-card>
            </li>
            
        </ul>
    </div>
</section>