<section class="homepage-section" >
    
    <div class="cards-container-warp">
        <h2> תחומים נוספים </h2>

        <ul class="cards-container" >
            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="רפואה צבאית"
                description="ניסיון רב באבחון, ייעוץ וחוות דעת רפואיות לחיילים ומערכות צבאיות." 
                routeTo="/services/military-medicine" ></app-card>
            </li>
            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="מנהל רפואי"
                description="יעוץ וליווי מערכות בריאות וארגונים בבניית נהלים, סטנדרטים וקבלת החלטות רפואיות." 
                routeTo="/services/medical-administration" ></app-card>
            </li>
            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="רפואת צלילה"
                description="הערכות כשירות לצלילה וטיפול במצבים רפואיים הקשורים לעולם הימי." 
                routeTo="/services/diving-medicine" ></app-card>
            </li>
            <li class="card">
                <app-card   
                imageUrl="/assets/images/placeholder.jpg"
                title="רפואה תעופתית"
                description="בדיקות וחוות דעת לרופאים, טייסים ואנשי צוות אוויר בהתאם לסטנדרטים בינלאומיים." 
                routeTo="/services/aviation-medicine" ></app-card>
            </li>
            
        </ul>
    </div>
</section>