<section class="additional-treatments" >

    <h2> additional treatments </h2>

    <ul class="cards-container" >
        <li>
            <app-card   
            imageUrl="/assets/images/placeholder.jpg"
            title="רפואה צבאית"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vel quam fuga nobis enim quidem minus. Commodi et rerum in." 
            anchorId="miltary" ></app-card>
        </li>
        <li>
            <app-card   
            imageUrl="/assets/images/placeholder.jpg"
            title="מנהל רפואי"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vel quam fuga nobis enim quidem minus. Commodi et rerum in." 
            anchorId="adminstrative" ></app-card>
        </li>
        <li>
            <app-card   
            imageUrl="/assets/images/placeholder.jpg"
            title="רפואת צלילה"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vel quam fuga nobis enim quidem minus. Commodi et rerum in." 
            anchorId="diving" ></app-card>
        </li>
        <li>
            <app-card   
            imageUrl="/assets/images/placeholder.jpg"
            title="רפואה תעופתית"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vel quam fuga nobis enim quidem minus. Commodi et rerum in." 
            anchorId="flight" ></app-card>
        </li>
        
    </ul>

</section>