@use '../../../styles/variables' as *;



@use 'styles/variables.scss' as *;


.wrap-link{
  
  display: flex;
  flex-direction: column;

  margin-inline: auto;

  border: 3px solid $light-blue;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
 
  max-width: 350px;
  height: 100%;
  min-height: 430px;
 
  padding-top: 20px;
  padding-left: $space-sm;
  padding-right: $space-sm;

  overflow: hidden;

  transition: all 0.2s ease-in-out;

  background: $bg-white;
  box-shadow: 0 1px 2px rgba(13,71,161,.08);


  .card-image {
    
    border-radius: $radius-md;
    object-fit: cover;

  }

  .title-wrap{
    margin-top: 10px;
    container: foo / inline-size;
  }

  .card-title {

        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        color: $mid-dark-blue;
        padding-bottom: 10px;
    }

  .specialties {

        text-align: center;
        font-size: $font-size-sm;
        color: $mid-dark-blue;
        margin-bottom: $space-sm;
    
    }

    .card-text {
        font-size: $font-size-sm;
        color: $mid-dark-blue;
        margin-bottom: $space-sm;
        padding-bottom: 10px;
        padding-left: 10px;
        
        .contact{

            img {
                
                height: 1.5em;              // matches text height automatically
                width: auto;
                vertical-align: middle;   // vertically centers icon with text
                // margin-right: 6px; 
        }

        } 

    }

}

