@use 'styles/variables.scss' as *;

.chat-wrap{

    height: 56px;
    width: 56px;
    background-color: $mid-dark-blue;
    
    position : fixed;
    bottom: 30px;
    right: 30px;

    z-index: $z-index-chatbot;

    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(13,71,161,.08);

    &.open{

        right: 5%;
        border-top-left-radius: 99px;
        border-top-right-radius: 99px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        background-color: $bg-white;
        width: min(400px, 90% );
        border: 4px solid $light-blue;
        height: auto;
        min-height: 70dvh;

    }

    .open-button{

        width: 100%;
        height: 100%;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            overflow: hidden;
        }
        
        &.hide{
            display: none;
        }

    }

}



.chat-body-wrap{

    overflow: hidden;
    padding-top: 50px;

    .chat-body {
   
        background-color: $bg-white;
        padding-inline: 5px;
        width: 100%;
        height: 70dvh ;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .message{

            font-size: 1.3rem;
            max-width: 80%;
            margin-bottom: 1rem;
            border-radius: 999px;
            padding: 15px 10px;
            text-wrap: stable;
            padding-inline: 1ch;
            &.user{

                background-color: $light-blue;
                color: $mid-dark-blue;
                align-self: flex-start;
            
            }

            &.bot{

                background-color: $bg-white;
                align-self: flex-end;
                
            }

        }
        
    }


}

.btns-flex{

    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;

    .message-button{

        background-color: $mid-dark-blue;
        color: $bg-white;
        padding: 0.8rem 1rem;
        border-radius: 999px;
        font-size: 1.5rem;
        cursor: pointer;
        text-align: center;

        box-shadow: 0 18px 40px rgba(13,71,161,.08);

        align-self: flex-start;
        max-width: 80%;
        word-wrap: break-word;
        white-space: normal;

}

}

.chat{

    position: relative;
    display: flex;
    flex-direction: column;

    .title{

        position: absolute;
        top: calc(-3rem + 10px);
        right: -30px;
        
        width: fit-content;
        padding-block: 0.5rem;
        padding-inline-start: 45px;
        padding-inline-end: 1ch;
        font-size: 3rem;
        font-weight: bold;
        border-end-end-radius: 999px;
        border-start-end-radius: 999px;

        background-color: $light-blue;
        color: $mid-dark-blue;


    }


    .close-button{

        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 9999px;
        
        top: calc(-3rem + 10px);
        left: 0px;

        background-color: $light-blue;
        color: $mid-dark-blue;

        &:hover{
            color: $light-blue;
            background-color: $mid-dark-blue;
        }
    }



    &.closed{

        display: none;

    }
}


