@use 'styles/variables.scss' as *;

.chat-wrap{

    height: 56px;
    width: 56px;
    background-color: $mid-dark-blue;
    
    position : fixed;
    bottom: 30px;
    right: 30px;

    z-index: $z-index-chatbot;

    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(13,71,161,.08);

    &.open{

        border-radius: 10px;
        background-color: $bg-white;
        width: min(400px, 90% );
        border: 2px solid $mid-dark-blue;
        height: auto;
        min-height: 70dvh;

    }

    .open-button{

        width: 100%;
        height: 100%;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            // opacity: 0;
            overflow: hidden;

        }
        
        &.hide{
            display: none;
        }

    }

}

.title-bar{

    display: flex;
    
    .close-button{
        height: 50px;
        width: 50px;
        text-align: center;
        background-color: $light-blue;
        color: $mid-dark-blue;
        font-size: 1.2rem;

        &:hover{
            color: $light-blue;
            background-color: $mid-dark-blue;
        }
    }

    .title{

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        flex:1;
        background-color: $light-blue;

    }


}


.chat-body {
   
    background-color: $bg-white;
    padding: 10px;
    width: 100%;
    height: 70dvh ;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .message{

        font-size: 1.5rem;
        max-width: 80%;
        margin-bottom: 1rem;
        border-radius: 15px;
        padding: 15px 10px;
        text-wrap: stable;

        &.user{

            background-color: $light-blue;
            color: $mid-dark-blue;
            align-self: flex-start;
            border-bottom-right-radius: 0;
        
        }

        &.bot{

            background-color: $bg-white;
            align-self: flex-end;
            border-bottom-left-radius: 0;
            

        }

    }
    
}

.btns-flex{

    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;

    .message-button{

        background-color: $mid-dark-blue;
        color: $bg-white;
        padding: 0.8rem 1rem;
        border-radius: 14px;
        font-size: 1.5rem;
        cursor: pointer;
        text-align: center;

        box-shadow: 0 18px 40px rgba(13,71,161,.08);

        align-self: flex-start;
        max-width: 80%;
        word-wrap: break-word;
        white-space: normal;

}

}

.chat{

    display: flex;
    flex-direction: column;

    &.closed{

        display: none;

    }
}


