<div class="chat-container"
    [class.open]="isChatOpen" >
    <button class="open-button"
        (click)="open()"
        [class.hide]="isChatOpen"
        aria-label="open chatbot"
        >
        
        <svg id="Layer_3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90" width="90" height="90">
            <title>פתח צ'אט בוט</title>
            <style>
                .main-body { fill: #fff; fill-rule: evenodd; }
                .top-antenna { fill: #fff; }
            </style>
            <circle class="top-antenna" cx="45.38" cy="7.48" r="3"/>
            
            <path class="main-body" d="M53.64,16.93h-5.79v-4.64c1.58-.85,2.66-2.52,2.66-4.43,0-2.77-2.26-5.03-5.03-5.03s-5.02,2.26-5.02,5.03c0,1.81.96,3.39,2.39,4.27v4.8h-4.97c-14.67,0-26.6,11.93-26.6,26.6v5.82c0,14.6,11.82,26.49,26.4,26.6l-6.98,6.92c-.48.48-.56,1.19-.2,1.77.27.43.72.67,1.19.67.16,0,.33-.03.5-.09l26.49-9.63c.14-.05.27-.12.38-.2,12.08-2.51,21.19-13.23,21.19-26.04v-5.82c0-14.67-11.94-26.6-26.61-26.6ZM31.4,56.61c-6.75,0-12.22-5.47-12.22-12.22s5.47-12.22,12.22-12.22,12.22,5.47,12.22,12.22-5.47,12.22-12.22,12.22ZM60.24,56.61c-6.75,0-12.22-5.47-12.22-12.22s5.47-12.22,12.22-12.22,12.22,5.47,12.22,12.22-5.47,12.22-12.22,12.22Z"/>
        </svg>

    </button>
    <div class="relative-container"
    [class.open]="isChatOpen">
        <h2 class="title" >
            צ'אט בוט
        </h2>

        <button class="close-button"
            (click)="close()">
            <img class="close-x"
            src="/assets/images/x.svg" alt="סגור חלון צ'אט בוט">
        </button>
    
        
        <div class="chat-wrap">
            
            <div class="chat"
                [class.closed] = "!isChatOpen">

                <div class="chat-body">

                    @for (message of messages; track message){
                        
                        @if (message.from === 'user') {

                            <div class="message user">
                                <span> {{ message.text }} </span>
                                
                            </div>

                        } @else {
                            
                            <div class="message bot">
                                <span>{{ message.text }}</span>
                            @for ( chatButton of message.messageButtons; track chatButton) {
                                <div class="btns-flex">

                                @if ( chatButton.responseId ) {
                                <button class="message-button"
                                (click)="handleOnButtonClick(chatButton.responseId)">
                                    {{chatButton.text}}
                                </button>
                                } @else{
                                
                                <a href="tel: +9720528723566">
                                    <button class="message-button" >
                                        {{chatButton.text}}
                                    </button>
                                </a>
                                }
                                </div>
                            }
                        
                            </div>

                        }

                    }
            
                </div>
            </div>
            
        
        </div>
    </div>
</div>
